<div id="banner">
  <a id="home" href="/">FixMyTransport</a>
	<div class="container">
		<h1><%= t('password_resets.new.forgot_password') %></h1>
	</div>
</div>
<div id="greybanner">
	<div class="container">
		<p><%= t('password_resets.new.enter_your_email_address') %></p>
	</div>
</div>
<div id="main-content" class="container">
	 <%= render :partial => 'shared/forgot_password_form' %>
</div>