log
tmp/**/*
doc/api
doc/app
config/database.yml
config/database.yml.deployed
config/general
config/general.deployed
config/rails_env.rb
config/httpd.conf
config/httpd.conf.deployed
config/logrotate
config/logrotate.deployed
public/down.html
data/NPTDR/
cache/*
public/index.html
tmp/restart.txt
