log
tmp/**/*
doc/api
doc/app
config/database.yml
config/database.yml.deployed
config/general
config/general.deployed
config/rails_env.rb
config/httpd.conf
config/httpd.conf.deployed
public/down.html
data/operators/*
data/organizations/*
data/NPTDR/
cache/*
public/index.html
