log
tmp/**/*
db/schema.rb
doc/api
doc/app
config/database.yml
config/database.yml.deployed
config/general
config/general.deployed
config/rails_env.rb
config/httpd.conf
config/httpd.conf.deployed
config/logrotate
config/logrotate.deployed
tmp/restart.txt
public/down.html
data/operators/*
data/organizations/*
data/NPTDR/
data/mail_conf
cache/*
public/index.html
moo.txt
rdoc
vendor/gems/libxml-ruby-1.1.4/ext/**/*.o
vendor/gems/libxml-ruby-1.1.4/ext/**/*.so
vendor/gems/libxml-ruby-1.1.4/ext/**/*.so.a
vendor/gems/libxml-ruby-1.1.4/ext/**/Makefile

