%h2.route-header= t(:add_a_route)
- form_for [:admin, @route], :url => admin_url(admin_routes_path), :html => { :class => 'route-form' } do |f| 
  = render :partial => "form", :locals => { :f => f }
  %h3= t(:route_segments)
  = render :partial => "route_segments", :locals => { :f => f }
  :javascript
    var routeSegments = [];
    jQuery(document).ready(function(){
      setupNewRoute();
    });