Hi <%= @user.name %>,

You just tried to sign up to FixMyTransport, when you
already have an account. Your name and password have been
left as they previously were.

Please click on the link below to log in:

<%= raw @account_confirmation_url %>

You can then use the account page to change your password if you like. 

If your email program does not let you click on this link, copy
and paste it into your web browser and press return.

If you continue to have problems please contact us.
