<div class='form-field'>
  <%- if @stop_area.errors.on(field) %>
    <div class='form-field-error'>
      <%= error_message_on @stop_area, field %>
    </div>
  <%- end %>
  <%= raw label(:stop_area, field) %>
  <%= raw f.text_field field %>
</div>
