.problem-location-name= @problem.location.name
.problem-location-locality-name= @problem.location.locality_name
.problem-location-landmark= @problem.location.landmark
.problem-location-street= @problem.location.street