.problem-location-name= @story.location.name
.problem-location-locality-name= @story.location.locality_name
.problem-location-landmark= @story.location.landmark
.problem-location-street= @story.location.street