<div id="beta-frontpage">
<h1><%= t('problems.frontpage.coming_soon')%></h1>
<%= link_to( t('problems.frontpage.im_a_beta_tester'),  root_url(:beta => 1),  :class => 'font-1 button green') %>
<%= link_to( t('problems.frontpage.find_out_more'), 'http://www.mysociety.org/fixmytransport',  :class => 'font-1 button green') %> 
</div>