<div id="main-content" class="container">
	
	<div class="leftcol narrowcol">
		<ul class="issues-list" id="browse-issues-list">
		  <%= render :partial => "shared/issue", :collection => @extra_data, :locals => { :context => :browse_issues } %>
    </ul>
	 
	</div>
  <div class="rightcol widecol">
	   <div id="medium-map">
     			<%= render :partial => 'shared/map', :locals => { :locations => @locations, :other_locations => @other_locations, :link_type => :location, :highlight => :has_content, :height => LOCATION_PAGE_MAP_HEIGHT, :width => LOCATION_PAGE_MAP_WIDTH } %>
  		</div>	

	</div>
</div>