<div id="banner">
    <a id="home" href="/">FixMyTransport</a>
	<div class="container">
		<h1><%= @title %></h1>
	</div>
</div>
<div id="main-content" class="browse-map-container container">
	
	<div class="leftcol mediumnarrowcol">
    <div id="issues-in-area">
      <%= render :partial => 'shared/issues_in_area'%>
    </div>
	</div>
  <div class="rightcol mediumwidecol">
	   <div id="browse-map">
     			<%= render :partial => 'shared/map', :locals => { :locations => @locations, :other_locations => @other_locations, :link_type => :location, :highlight => :has_content, :height => BROWSE_MAP_HEIGHT, :width => BROWSE_MAP_WIDTH } %>
  		</div>	

	</div>
</div>