= t(:multiple_localities, :name => @name)
%ul.locality-list
  - @areas.each do |area|
    %li.area= link_to(area.full_name, find_bus_route_problems_url(:area => area.full_name, :route_number => params[:route_number], :area_type => area.class.to_s))