%p
  = @error_message
  = t(:multiple_routes_intro, :num_locations => MAX_LOCATION_RESULTS)
%ul.location-list
  - @locations.each do |location|
    %li= link_to location.description_with_operators, location_url(location)