#map-col
  #map
  = render :partial => 'shared/location_map_js', :locals => { :locations => @problem.locations }
%p= t(:multiple_locations_intro, :num_locations => MAX_LOCATION_RESULTS)
%ul.location-list
  - @problem.locations.each do |location|
    %li= link_to location.description, location_url(location)