<div id="banner">
	<div class="container">
		<h1>Choose Area</h1>
	</div>
</div>
<div id="greybanner">
	<div class="container">
		<p><%= t(:multiple_localities, :name => @name) %></p>
	</div>
</div>
<div id="main-content" class="container">
	<ul class='locality-list'>
	 <%- @areas.each do |area| %>
	    <li class='area'>
	      <%= link_to(area.full_name, find_bus_route_problems_url(:area => area.full_name, :route_number => params[:route_number], :area_type => area.class.to_s)) %>
	    </li>
	  <%- end %>
	</ul>
</div>