- if @matched_stops_or_stations
  = t(:within_multiple_localities, :name => @name)
- else
  = t(:multiple_localities, :name => @name)
%ul.locality-list
  - @localities.each do |locality|
    - if @matched_stops_or_stations
      %li.locality= link_to(locality.name_and_qualifier_name_with_comma, find_stop_problems_url(:name => locality.name_and_qualifier_name_with_comma, :stop_name => @name))
    - else
      %li.locality= link_to(locality.name_and_qualifier_name_with_comma, find_stop_problems_url(:name => locality.name_and_qualifier_name_with_comma))    
