= t(:multiple_localities, :name => @name)
%ul.locality-list
  - @localities.each do |locality|
    %li.locality= link_to(locality.name_and_qualifier_name_with_comma, find_stop_problems_url(:name => locality.name_and_qualifier_name_with_comma))
