- content_for :javascript do 
  != map_javascript_include_tags
#map
:javascript
  var areaStops = #{location_stops_js(@problem.locations)}
  jQuery(document).ready(function(){
     area_init();
  });
%p= t(:multiple_locations_intro)
%ul
- @problem.locations.each do |location|
  %li= link_to location.description, location_url(location)