<div id="main-content" class="container">
  <div id="choose" class="container font-1">
	<h1>Create a Campaign?</h1>
	<h2>Use FixMy Transport to create a campaign.</h2>
	<p>Share your report with friends, let others support<br />you and get your problem fixed.</p>
    <div class="left">
      <a href="?convert=no" class="button red">No Thanks</a>
      <p>If your issue was a small one-off incident that you<br />just wanted to report, then your job is done.</p>
    </div>
	<span class="middle">or</span>
    <div class="right">
      <a href="?convert=yes" class="button green">Start Campaign</a>
      <p>If it's a big issue that's going to require a few<br />more voices, you should start a campaign.</p>
    </div>
  </div>
</div>