<div id="main-content" class="container">
  <div id="choose" class="container">
    <div class="left">
      <a href="?convert=no" class="button">No Thanks</a>
      <p>If your issue was a small one-off incident that you just wanted to report, then your job is done.</p>
    </div>
    <div class="right">
      <a href="?convert=yes" class="button">Start Campaign</a>
      <p>If it's a big issue that's going to require a few more voices, you should start a campaign.</p>
    </div>
  </div>
</div>