<div id="banner">
  <a id="home" href="/">FixMyTransport</a>
  <div class="container">
    <h1><%= t('problems.existing.not_found') %></h1>
  </div>
</div>

<div id="greybanner">
  <div class="container">
    <div class="not-found-message">
      <p><%= t('problems.existing.not_found_explanation')%>
      </p>
    </div>
  </div>
</div>
<div id="main-content" class="container">
</div>