.homepage
  %h2.main-header=t(:find_a_route)
  .problem-form-wrapper
    .problem-form
      .problem-options
        =t(:is_it_on_a)
        %span.link-button
          =link_to(t(:bus_or_coach_route), find_bus_route_problems_path)
        =t(:or_on_a)
        %span.link-button
          =link_to(t(:train_route), find_train_route_problems_path)
        =t(:or_on_a)
        %span.link-button
          =link_to(t(:tram_metro_ferry_route), find_other_route_problems_path)