.homepage
  %h2.main-header=t(:get_problems_fixed)
  .problem-form-wrapper
    .problem-form
      .problem-options
        =t(:do_you_want_to_report)
        %span.link-button
          =link_to(t(:stop_or_station), find_stop_problems_url)
        =t(:or_on_a)
        %span.link-button
          =link_to(t(:route), find_route_problems_url)
  .latest
    .campaign-updates
      %h3=t(:campaign_updates)
      %ul
        - Campaign.find_recent(5).each do |campaign|
          %li.campaign-update= link_to(campaign.title, campaign_url(campaign))
    .latest-problems
      %h3=t(:latest_problems)
      %ul
        - Problem.latest(5).each do |problem|
          %li.problem= link_to(problem.subject, problem_url(problem))
