.homepage
  %h2.main-header=t(:get_problems_fixed)
  .problem-form-wrapper
    .problem-form
      =t(:do_you_want_to_report)
      .problem-options
        %span.link-button
          =link_to(t(:stop_or_station), find_stop_problems_url)
        =t(:or_on_a)
        %span.link-button
          =link_to(t(:route), '')