.homepage
  %p.site-description=t(:get_problems_fixed)
  .problem-form-wrapper
    .problem-form
      - form_for @problem, :url => find_problems_path do |form| 
        = render :partial => 'problems/find_form', :locals => { :form => form }
        != submit_tag t(:go)