<div id="banner">
    <a id="home" href="/">FixMyTransport</a>
	<div class="container">
		<h1><%= t('problems.issues_index.title') %></h1>
	</div>
</div>
<div id="main-content" class="container">
  <div class="leftcol widecol">
  <%= will_paginate @issues %>
    <ul class="issues-list">
      <%= render :partial => "shared/issue", :collection => @issues, :locals => {:context => :issue_list } %>
    </ul>
  <%= will_paginate @issues %>
  </div>
</div>