<div id="main-content" class="container">


	<div class="leftcol">

		<ul class="issues-list">
			<li>
				<a href="#"><img src="http://dummyimage.com/90x90" alt="Adcadcadcd qerg erg erg erg erg erg erwe fqwe qewf qwef qew q" /></a>
				<div class="wrapper">
					<h4><a href="http://localhost.transport.mysociety.org:3000/campaigns/adcadcadcd-qerg-erg-erg-erg-erg-erg-erwe-fqwe-qewf">Adcadcadcd qerg erg erg erg erg erg erwe fqwe qewf qwef qew q</a></h4>
				    <p><a href="http://localhost.transport.mysociety.org:3000/routes/west-midlands/5-bus--4">5 bus between Solihull and Birmingham</a></p>
					<p>Started by <a href="http://localhost.transport.mysociety.org:3000/profiles/josh">Josh</a></p>
					<dl>
						<dt>Added:</dt>
						<dd>24 Jun 09:39</dd>
						<dt>Followers:</dt>
						<dd>0</dd>
						<div class="status-item">
							<dt>Status:</dt>
							<dd class="status stat-successful">Current</dd>
						</div>
					</dl>	
				</div>
			</li>

			<li>
				<a href="#"><img src="http://dummyimage.com/90x90" alt="Adcadcadcd qerg erg erg erg erg erg erwe fqwe qewf qwef qew q" /></a>
				<div class="wrapper">
					<h4><a href="http://localhost.transport.mysociety.org:3000/campaigns/adcadcadcd-qerg-erg-erg-erg-erg-erg-erwe-fqwe-qewf">Adcadcadcd qerg erg erg erg erg erg erwe fqwe qewf qwef qew q</a></h4>
				    <p><a href="http://localhost.transport.mysociety.org:3000/routes/west-midlands/5-bus--4">5 bus between Solihull and Birmingham</a></p>
					<p>Started by <a href="http://localhost.transport.mysociety.org:3000/profiles/josh">Josh</a></p>
					<dl>
						<dt>Added:</dt>
						<dd>24 Jun 09:39</dd>
						<dt>Followers:</dt>
						<dd>0</dd>
						<div class="status-item">
							<dt>Status:</dt>
							<dd class="status stat-successful">Current</dd>
						</div>
					</dl>	
				</div>
			</li>

			<li class="performances">
					<h4><a href="http://localhost.transport.mysociety.org:3000/campaigns/adcadcadcd-qerg-erg-erg-erg-erg-erg-erwe-fqwe-qewf">Adcadcadcd qerg erg erg erg erg erg erwe fqwe qewf qwef qew q</a></h4>
				    <p><a href="http://localhost.transport.mysociety.org:3000/routes/west-midlands/5-bus--4">5 bus between Solihull and Birmingham</a></p>
					<p>Started by <a href="http://localhost.transport.mysociety.org:3000/profiles/josh">Josh</a></p>
					<dl>
						<dt>Added:</dt>
						<dd>24 Jun 09:39</dd>
						<div class="status-item">
							<dt>Status:</dt>
							<dd class="status stat-successful">Current</dd>
						</div>
					</dl>	
			</li>


			<li>
				<a href="#"><img src="http://dummyimage.com/90x90" alt="Adcadcadcd qerg erg erg erg erg erg erwe fqwe qewf qwef qew q" /></a>
				<div class="wrapper">
					<h4><a href="http://localhost.transport.mysociety.org:3000/campaigns/adcadcadcd-qerg-erg-erg-erg-erg-erg-erwe-fqwe-qewf">Adcadcadcd qerg erg erg erg erg erg erwe fqwe qewf qwef qew q</a></h4>
				    <p><a href="http://localhost.transport.mysociety.org:3000/routes/west-midlands/5-bus--4">5 bus between Solihull and Birmingham</a></p>
					<p>Started by <a href="http://localhost.transport.mysociety.org:3000/profiles/josh">Josh</a></p>
					<dl>
						<dt>Added:</dt>
						<dd>24 Jun 09:39</dd>
						<dt>Followers:</dt>
						<dd>0</dd>
						<div class="status-item">
							<dt>Status:</dt>
							<dd class="status stat-successful">Current</dd>
						</div>
					</dl>	
				</div>
			</li>
		



		</ul>
	</div>




<div class="leftcol">
<%= will_paginate @issues %>
<ul class="issues-list">
<%= render :partial => "shared/issue", :collection => @issues, :locals => {:context => :issue_list } %>
</ul>
<%= will_paginate @issues %>
</div>
</div>