- content_for :javascript do 
  != map_javascript_include_tags
- if @problem.location
  #map-col
    #map
    :javascript
      var areaStops = #{location_stops_js([@problem.location])}
      jQuery(document).ready(function(){
         area_init();
      });
  .problem-info
    %h3= @problem.subject
    %p.problem-description= @problem.description