<h2><%= t('admin.adding_a_council_contact', :council => @council.name) %></h2>
<%-form_for :council_contact, @council_contact, :url => admin_url(admin_council_contacts_path), :html => { :class => 'council-contact-form' } do |f| %>
  <%= render :partial => 'form', :locals => { :f => f }  %>
<%- end %>