/* General */
body {
  font-family: verdana, sans-serif;
  margin: 0.5em;
}

ul.admin-navigation {
  list-style-type: none;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  margin: 0.5em;
}

ul.admin-navigation li {
  display: inline-block;
}

.flash_notice {
  padding: 5px;
  margin: 5px;
  background-color: #B9C7DD;
  border: 1px solid #437DD4;
}

.flash_error {
  padding: 5px;
  margin: 5px;
  background-color: #FFADB9;
  border: 1px solid #CC0000;
}

#main {
  margin: 1em;
  clear: both;
}

table { 
  padding: 0.5em;
}

table td {
  padding: 0.2em;
}

.admin-task-list {
  margin: 1em;
}

/* Forms */

.form-field-error {
  color: #CC0000;
  width: 400px;
  margin: 0.5em 1em 0 1em;
}

.fieldWithErrors {
  display: inline;
}

.operator-form label{
  display: inline-block;
  width: 6em;
}

td.route-terminuses {
  font-size: 0.8em;
  max-width: 400px;
}
