/* General */
html, body {
  font-family: verdana, sans-serif;
  margin: 0.5em;
}

ul.admin-navigation {
  list-style-type: none;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  margin: 0.5em;
}

ul.admin-navigation li {
  display: inline-block;
}

.flash_notice {
  padding: 5px;
  margin: 5px;
  background-color: #B9C7DD;
  border: 1px solid #437DD4;
}

.flash_error {
  padding: 5px;
  margin: 5px;
  background-color: #FFADB9;
  border: 1px solid #CC0000;
}

#main {
  margin: 1em;
  clear: both;
}

table { 
  padding: 0.5em;
  border: 1px solid #cccccc;
  margin: 0.5em;
  font-size: 0.9em;
}

table tr.odd {
  background-color: #cccccc;
}

table tr.selected {
  background-color: #FFDA70;
}

table tr.footer  {
  padding: 0;
  margin: 0;
}

table tr.footer td {
  border: 1px solid #cccccc; 
  background-color: #CAD4E6; 
}

table td {
  padding: 0.2em;
}

.admin-task-list {
  margin: 1em;
}

h2 {
  display: inline-block;
  margin-top: 0.2em;
}

h2.route-header {
  max-width: 25em;
}

.pagination a {
  padding: 0.3em;
}

.pagination {
  margin: 0.3em 0 0.3em 0;
}

table.index-list { 
  width: 100%;
  table-layout: fixed ;
}

/* Maps */

#map {
  width: 400px; 
  height: 400px; 
  padding-left: 20px; 
  position:relative;
  border: 1px solid #000000;
  float: right;
}

/* Location searches */

.failed-search {
  background-color: #FF7373;
}

/* Forms */

.admin-section-control {
 	background-image: url('/images/admin/toggle_open.gif');
	background-repeat: no-repeat;
  text-indent: 15px;
  padding: 0 0 0 10px;
  width: 100%;
  display: block;
}

.form-error {
  color: #CC0000;
}

.form-field-error {
  color: #CC0000;
  width: 400px;
  margin: 0.5em 1em 0 1em;
}

.fieldWithErrors {
  display: inline;
}

input {
  font-size: 0.8em;
}
.form-field, .pseudo-form-field {
  padding: 0.3em;
}
.operator-form label, 
.route-form label,
.stop-form label,
.stop-area-form label, 
.pte-form label, 
.council-contact-form label,
.operator-contact-form label
{
  display: inline-block;
  width: 10em;
  text-align: right;
}

.operator-form input[type="submit"], 
.route-form input[type="submit"],
.stop-form input[type="submit"],
.stop-area-form input[type="submit"],
.pte-form input[type="submit"],
.council-contact-form input[type="submit"], 
.operator-contact-form input[type="submit"]{
  margin-left: 30em;
}

.destroy-link {
  display :inline;
}
td.route-terminuses {
  font-size: 0.8em;
  max-width: 400px;
}

.admin-search-form input {
  display: inline;
}

.admin-search-form {
  margin: 1em 0 1em 0;
  background-color: #CAD4E6;
  padding: 0.2em;
}