/* General */

body {
  font-family: verdana, sans-serif;
}

.content {
  margin-top: 2em;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

.flash_notice {
  padding: 5px;
  margin: 5px;
  background-color: #ADFF2F;
  border: 1px solid #7CFC00;
}

.flash_error {
  padding: 5px;
  margin: 5px;
  background-color: #FFADB9;
  border: 1px solid #CC0000;
}

.wrapper {
  margin: 2em;
}

.content {
  margin: 0 auto;
  max-width: 60em;
  position: relative;
  width: 100%;
}
/* Home page */

.home-nav-item {
  margin: 1em;
  text-align: center;
}

/* Forms */

label {
  width: 10em;  
  padding-right: 0.5em;
  text-align: right;
  float: left;
}

.form-field-error{
  color: #CC0000;
}

input[type=radio] {
  display: inline-block;
}

/* Problem page */

#map {
  width: 500px; 
  height: 500px; 
  float: right; 
  padding-left: 20px; 
  position:relative;
  border: 1px solid #000000;
}

/* Problem list */

.problem-list-item {
  margin: 1em;
  text-align: center;
  list-style-type: none;
}
