/* General */

body {
  font-family: verdana, sans-serif;
  margin: 0.5em;
}

h2 {
  margin: 0.5em 0;
}

#footer {
  clear: both; 
  text-align:center;
  padding: 1em;
}

#footer li {
  list-style-type: none;
  font-size: 0.8em;
  display: inline;
  padding: 0 1em 0 1em;
}

.flash_notice {
  padding: 5px;
  margin: 5px;
  background-color: #B9C7DD;
  border: 1px solid #437DD4;
}

.flash_error {
  padding: 5px;
  margin: 5px;
  background-color: #FFADB9;
  border: 1px solid #CC0000;
}

.wrapper {
  margin: 1em;
}

.content {
  margin: 0 auto;
  max-width: 60em;
  position: relative;
  width: 100%;
  padding: 0.5em;
}

input[type=text], 
textarea {
  font-size: 0.9em;
  font-family: verdana, sans-serif;
}

/* Navigation */

ul.navigation {
  list-style-type: none;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  margin: 0.5em;
}

ul.navigation li {
  display: inline-block;
}

/* Home page */

.homepage .new-story, 
.homepage .latest-stories {
  width: 45%;
  margin-bottom: 2em;
}

.homepage .new-story { 
  margin-left: 4%;
}

.homepage .latest-stories {
  margin-right: 4%;
  float: right;
}

.homepage .latest-stories .more-link {
  float: right;
}

.homepage  h3,
.about h3 {
  margin: 0 0 1em 0;
  text-align: center;
}

.homepage .story, #transport-mode-radio {
  padding: 8px;
  margin: 0.5em 0;
}

.story-transport-none {
  background-image: url('/images/transport_none.jpg');
  background-repeat: no-repeat;
}

.story-transport-bus {
  background-image: url('/images/transport_bus.jpg');
  background-repeat: no-repeat;
}

.story-transport-coach {
    background-image: url('/images/transport_coach.jpg');
    background-repeat: no-repeat;
}

.story-transport-taxi {
    background-image: url('/images/transport_taxi.jpg');
    background-repeat: no-repeat;
}

.story-transport-air {
    background-image: url('/images/transport_air.jpg');
    background-repeat: no-repeat;
}

.story-transport-ferry {
    background-image: url('/images/transport_ferry.jpg');
    background-repeat: no-repeat;
}

.story-transport-train {
    background-image: url('/images/transport_train.jpg');
    background-repeat: no-repeat;
}

.story-transport-trammetro {
    background-image: url('/images/transport_trammetro.jpg');
    background-repeat: no-repeat;
}

.homepage input[type=text] {
  width: 15em;
}

.story-body {
    background-color: #ffffff;
    padding: 0.5em;
    margin:28px 8px 8px 8px;
}

.transport-mode {
    background-color: transparent;
    padding: 0.1em;
    margin:28px 8px 8px 8px;
    min-height: 28px; /* should be content-driven */
    text-align:center;
}

.transport-mode div {
    display: block-inline;
    margin: 0px;
    padding:4px;
    float: left;
}

#transport-mode-radio div label{
    display: inline-block;
    width: auto;    
    margin: 0;
    padding: 0;
}
#transport-mode-radio div input{
    text-align: right;
    float: left;
    padding: 0;
    margin: 4px 0.5em 0 0;
}

.transport-bg-bus {
    background-color: #618e7c;
}

.transport-bg-coach {
    background-color: #b794cf;
}

.transport-bg-taxi {
    background-color: #ffffff;
}

.transport-bg-air {
    background-color: #ffffff;
}

.transport-bg-ferry {
    background-color: #4864a5;
}

.transport-bg-train {
    background-color: #963535;
}

.transport-bg-trammetro {
    background-color: #f79225;
}

/* Story lists */

.story .details {
  font-size: 0.8em;
}
/* Forms */

label {
  padding-right: 0.5em;
  text-align: right;
  float: left;
}

.form-field-error {
  color: #CC0000;
}


input, textarea {
  margin: 0.5em;
}

.fieldWithErrors {
  display: inline;
}

/* Choosing a location */

ul.location-list li{
  padding: 0.2em 0 0.2em 0;
}

/* Story page */

#map-col {
  float: right; 
  max-width: 400px;
  margin-left: 0.5em;
  margin-right: 2em;
}

#map {
  width: 400px; 
  height: 400px; 
  padding-left: 20px; 
  position:relative;
  border: 1px solid #000000;
}

.extra-info {
  overflow: auto;
  padding: 0.5em;
}

.extra-info .stop, 
.extra-info .stop .route-list, 
.extra-info .stop .train-routes {
  margin-top: 0.5em;
}

.extra-info .stop {
  clear: both;
}


/* Feedback form */

.feedback-tab {
  height: auto;
  left: 0px;
  position: absolute;
  text-align: left;
  top: 120px;
  width: auto;
  z-index: 100;
  background-color: #FFFFFF;
}

.feedback-panel {
  height: auto;
  left: 0px;
  position: absolute;
  text-align: left;
  top: 120px;
  border: 1px solid #CCCCCC;
  background-color: #FFFFFF;
  width: auto;
  z-index: 100;
  padding: 1em;
}

form.new_feedback label {
  width: 6em;
}

/* Problem list */

.problem-list-item {
  margin: 1em;
  text-align: center;
  list-style-type: none;
}

/* Adding a story */

form.new_story label{
  width: 10em;  
}

.location-error {
  color: #CC0000;
}

.guidance{
  font-size: 0.8em;
  text-align: right;
  margin-right: 2em;
}

/* Stop/stop area/route page */

.stop, .stop-area, .route { 
  padding: 0 .75em 0.5em 0;
}

.stop .name, 
.stop-area .name, 
.route .name
{
  margin: 0 0 0.1em 0;
}

.stops {
  list-style-type: none;
}

.stop .details,
.stop-area .details,
.route .details {
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

.route .operators {
  margin-bottom: 0.5em;
}

.route .operators ul, 
.route .operators li{
  display: inline;
  padding: 0;
  list-style-type: none;
}

ul.stops {
  padding-left: 0;
  margin-top: 0;
}

.route-list .route-info,
.stops li { 
  margin: 0.5em 0 0.5em 0;
  padding: 0.2em;
  overflow: hidden;
}

.stops li {
  text-align: left;
  font-size: 0.8em;
}

.route-list .route-info .previous-stops {
  float: left;
  text-align: left;
  font-size: 0.8em;
  max-width: 42.5%;
}

.route-list .route-info .next-stops {
  float: right;
  text-align: right;
  font-size: 0.8em;
  max-width: 42.5%;
}

.route-list .route-info .route-name { 
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  text-align: center;
}

.train-routes .onward-stops .stop-link, 
.train-routes .final-destinations .stop-link {
    font-size: 0.8em;
    margin: 0.5em 0 0.5em 0;
    padding: 0.2em;
}
.train-routes .onward-stops{
  float: left;
    max-width: 45%;
}

.train-routes .final-destinations {
  float: right;
    max-width: 45%;
}

form.new_story label{
  width: 8em;  
}

form.new_story textarea, 
form.new_story input[type=text] {
  width: 20em;
}