/* General */

body {
  font: normal normal normal 110%/1.25 Arial, Helvetica, sans-serif;
  margin: 0 0;
}

#site-header{
    border-bottom: 2px solid gray;
    margin: 0 0 0.5em 0;
    background: #000000;
    color: white;
    padding: 0.5em 0.5em 0.5em 0.5em;    
    position: relative;
    height: 30px;
}
#site-header a{
    color: white;
    text-decoration: none;
}
#site-header a:hover{
    color: #cccccc;
}
h1 {
    font-weight: bold;
    width: 100%;
    font-size: 30px;
    padding: 0;
    line-height: 30px;
    margin: 0 1em 0 0;
    float: left;
    width: auto;
}

h3.name{
  margin: 0 0 1em 0;
}

#site-tagline{
    line-height: 40px;
    color: #dedede;
}

.staging-banner {
  padding: 5px;
  margin: 5px;
  background-color: #FFE973;
  border: 1px solid #FFD700;
  text-align: center;
}

.info-for-alpha-testers {
  text-align:center;
}

h2 {
  margin: 0.5em 0;
}

ul.navigation {
  color: #dedede;
  font-size: 0.8em;
}

#footer {
  clear: both; 
  text-align:center;
  padding: 1em;
}

#footer li {
  list-style-type: none;
  font-size: 0.8em;
  display: inline;
  padding: 0 1em 0 1em;
}
#footer .support-links {
  font-size: 0.8em;
  color: #777;
}

.flash_notice {
  padding: 5px;
  margin: 5px;
  background-color: #B9C7DD;
  border: 1px solid #437DD4;
  text-align: center;
}

.flash_error {
  padding: 5px;
  margin: 5px;
  background-color: #FFADB9;
  border: 1px solid #CC0000;
  text-align: center;
}

.wrapper {
  margin: 1em;
}

.content {
  margin: 0 auto;
  max-width: 60em;
  position: relative;
  width: 100%;
  padding: 0.5em 2em;
}

input[type=text],
input[type=password], 
textarea, select {
  font: inherit;
}

.rss-link {
  text-decoration: none;
  text-align: right;
  display: block;
  float: right;
}

.rss-link img {
  border: 0;
  width: 16px;
  height: 16px;
}
.rss-link span {
  text-decoration: underline;
}

/* Navigation */

ul.navigation {
  list-style-type: none;
  position: absolute;
  right: 0.5em;
  top: 1.2em;
  margin: 0.5em;
}

ul.navigation li {
  display: inline-block;
}

.anchor-padding {
  margin-bottom: 40em;
}

/* 404/500 */
.not-found-message, .error-message{
  text-align: center;
}

.not-found-options, .error-options{
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  width: 55%;
}

.not-found-options li, 
.error-options li {
  padding: 0.5em 0;
}


/* Home page */
h2.main-header{
  text-align: center;
}


.problem-form-wrapper { 
  text-align: center;
  padding: 1em;
}

.problem-form {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}


.homepage  h3,
.about h3 {
  margin: 0 0 1em 0;
  text-align: center;
}


.homepage .latest-problems{
  padding: 10px;
  border: 1px solid #dee0d4;
  margin: 1em 2em 1em 4em;
  overflow: auto;
}

.homepage .left-col{
  float: left;
  width: 50%;
}

.homepage .latest-campaigns{
  padding: 10px;
  border: 1px solid #dee0d4;
  margin: 1em 4em 1em 2em;
  overflow: auto;
}

.homepage .more {
  float: right;
  font-size: 0.8em;
}

.homepage ul{
  width: 90%;
  margin: auto;
  list-style-type: none;
}

.homepage li{
  padding: 0.1em 0;
}

.homepage .right-col{
  float: right;
  width: 50%;
}

.transport-modes-note {
  font-size: 0.8em;
}

.homepage .campaign{
  padding: 4px;
  margin: 0.5em 0;
}

.homepage input[type=text] {
  width: 15em;
}

.campaign-body,
.problem-body {
    background-color: #ffffff;
    padding: 0.25em 0 0.5em 0;
}

.campaign-body .title, 
.problem-body .subject{
  font-weight: bold;
  padding: 0 0 0.25em 0;
}

/* Problem lists */

.problem .details {
  font-size: 0.8em;
}

/* Campaign lists */

.campaign .details {
  font-size: 0.8em;
}

/* Forms */

label {
  margin: 0.5em 0 0 0;
  padding-right: 0.5em;
  text-align: right;
  float: left;
}

.form-field-error {
  color: #CC0000;
  margin: 0.5em 1em 0 1em;
}

input, textarea, select {
  margin: 0.5em;
}

.fieldWithErrors {
  display: inline;
}

/* Finding a stop/station */

#stop_name_form{
  width: 50%;
  margin: auto;
}

#stop_name_form input {
  display:inline;
  font-size: 1.2em;
}

.problem-options {
 font-size: 1.8em;
}

.large-map-intro {
  text-align: center;
}

/* Finding a route */

#bus_route_form {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
}

#train_route_form, #other_route_form {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
}

#bus_route_form label {
  width: 8em;
}


#train_route_form label,
#other_route_form label {
  width: 14em;
}
#bus_route_form  input[type=text], 
#train_route_form input[type=text],
#other_route_form input[type=text] {
  width: 20em;
}

#train_route_form .form-field, 
#other_route_form .form-field {
  text-align: left;
}

/* Choosing a locality */ 
ul.locality-list li{
  padding: 0.2em 0 0.2em 0;
}

/* Choosing a location */

ul.location-list li{
  padding: 0.2em 0 0.2em 0;
}

/* Campaign page */

form.update_campaign label {
  width: 20em;
}

.campaign-info {
  max-width: 50%;
}

.campaign-info h2, .problem-full h2 {
  margin-top: 0;
}

.campaign-info .details {
  font-size: 0.8em;
}

.campaign-info .location-and-supporters{
  padding: 0.8em 0 0 0;
}

form.update_campaign .label-note { 
  font-size: 0.8em;
}
.twitter-share-button {
  float: right;
}

/* Adding a campaign update */
form.new_campaign_update label {
  width: 20em;
}

message-campaign-update

/* Location column */

.extra-info {
  overflow: auto;
  padding: 0.5em 0 0.5em 0;
}

.extra-info .stop, 
.extra-info .stop .route-list, 
.extra-info .stop .train-routes {
  margin-top: 0.5em;
}

.extra-info .stop {
  clear: both;
}

.extra-info .departures {
  font-size: 0.8em;
  margin: 0.5em 0 0.8em 0;
}

.extra-info .transport-direct {
  font-size: 0.8em;
  float: right;
  margin: 0.5em 0 0.8em 0;
}

/* Feedback form */

#feedback-panel-container {
  padding:20px 20px 10px 20px;
  width: 500px;
  background: #737373;
  border: 3px solid #333333;
  position:absolute;
  top:200px;
  left:-546px;
  text-align:center;
  height: 420px;
}
#feedback-panel {
  height: auto;
  display: block;
  background-color: #ffffff;
  text-align: left;
  width: 440px;
  padding: 1em;
  margin: 0px auto;
}
#feedback-tab{
  border-width: 1px 1px 1px 0;
  display:block;
  height:137px;
  left: 47px;
  bottom: 23px;
  position:relative;
  float:right;
  text-indent:-9999px;
  width:27px;
  outline:none;
}

.feedback-tab-closed{
  background:transparent url('/images/feedback-tab.gif') no-repeat scroll 0 0;    
}
.feedback-tab-open{
  background:transparent url('/images/feedback-tab.gif') no-repeat scroll -34px 0;    
}

form.new_feedback {
  overflow: auto;
}

form.new_feedback label {
  width: 5em;
}

form.new_feedback .feedback-buttons {
  float:right;
}

/* Problem list */

.problem-list-item {
  margin: 1em;
  text-align: center;
  list-style-type: none;
}

/* Adding a problem */

.location-error {
  color: #CC0000;
}

.guidance{
  font-size: 0.8em;
  text-align: right;
  margin-right: 2em;
}

form.new_problem label{
  width: 10em;  
}

form.create_problem label.radiobutton_label {
  float: none;
  margin: 0.5em 0;
  text-align: left;
  width: auto;
}

form.create_problem .campaign-choices-label {
  height: 100%;
  width: 8em;
  text-align: right;
  display: inline-block;
  margin: auto;
}

form.create_problem .campaign-choices {
  display: inline-block;
  margin: 0 0 0 0.5em ;
}

.sending-advice {
  margin: 0.5em 0; 
}

form.create_problem .campaign-choices-label {
  vertical-align: top;
}

form.create_problem .campaign-choice {
  width: 100%;
  overflow: auto;
}

form.create_problem label,
form.create_problem .label{
  width: 8em;  
}

form.create_problem input[type=submit] {
  float: right;
  margin: 0;
}

form .checkbox label, 
form .checkbox .label-note {
  float: none;
  display: inline;
  font-size: 0.8em;
  padding-right: 0;
}

form .optional-note {
  font-size: 0.8em;
}

form .label {
  display: inline;
  margin: 0.4em 0;
  padding-right: 0.5em;
  text-align: right;
  float: left;
}

form .form-value {
  margin: 0.5em;
  display: inline-block;
}

/* Problem page */
.problem-full {
  max-width: 50%;
}

.problem-full .fixed { 
  background-color: #C6F490;
  border: 1px solid #98E93B;
  padding: 5px;
  position: relative;
  text-align: center;
}

.problem-full .details, 
.updates .details {
  font-size: 0.9em;
  font-style: italic;
}

.problem-datetime {
  font-size: 0.9em;
}

.updates .update { 
  margin: 1em 0;
}

.problem-full .details span,
.problem-full .details div,
.updates .details span, 
.updates .details div{
  line-height: 150%;
}

.update-help {
  font-size: 0.8em;
  margin-bottom: 0.8em;
}

.problem-full .details .sent-time {
  font-size: 0.8em;
}

form.new_update label, 
form.new_update .label{
  width: 6em;
}

.optional-assignment {
  border-radius: 10px;
  background-color: #951919;
  font-style: bold;
  margin: 0 0.5em 0.5em 0.5em;
  padding: 0.5em;
  width: auto;
  float: left;
  cursor: pointer;
}

.optional-assignment a {
  color: #ffffff;
  text-decoration: none;
}

.optional-assignment-end {
  clear: left;
}

.new-assignment, .campaign-event, .problem-event {
  border: 1px dotted #cccccc;
  margin: 0.5em;
  padding: 0.5em;
  width: auto;
}

.campaign-event .campaign-comment-link {
  font-size: 0.8em;
  float: right;
}

.campaign-event .campaign-comments {
  list-style-type: none;
  color: #333;
  margin: 0.5em 0;
}

.campaign-event .campaign-comment {
  list-style-type: none;
  color: #333;
  margin: 0.5em 0;
}
.campaign-commentbox {
  margin: 0.5em 2em;
}

.ajax_new_campaign_comment input[type=submit],
.new_campaign_comment input[type=submit] {
  float: right;  
}

.problem-event .date,
.campaign-event .date, 
.campaign-event .status{
  font-size: 0.8em;
  color: #707070;
}

.campaign-event .message-update {
  background-color: #ffff99;
  border: 1px solid #cccccc;
  margin: 0.5em;
  padding: 0.5em;
}


/* Stop/stop area/route page */

.report-problem-link {
  font-size: 1.5em;
}
.stop, .stop-area, .route { 
  padding: 0 .75em 0.5em 0;
}

.stop .name, 
.stop-area .name, 
.route .name
{
  margin: 0 0 0.1em 0;
}

.stops {
  list-style-type: none;
}

.stop .details,
.stop-area .details,
.route .details {
  font-size: 0.8em;
  margin-bottom: 0.5em;
}

.route .operators {
  margin-bottom: 0.5em;
}

.route .operators ul, 
.route .operators li{
  display: inline;
  padding: 0;
  list-style-type: none;
}

ul.stops {
  padding-left: 0;
  margin-top: 0;
}

.route-list .route-info,
.stops li { 
  margin: 0.5em 0 0.5em 0;
  padding: 0.2em;
  overflow: hidden;
}

.stops li {
  text-align: left;
  font-size: 0.8em;
}

.route-list .route-info .previous-stops {
  float: left;
  text-align: left;
  font-size: 0.8em;
  max-width: 32.5%;
}

.route-list .route-info .next-stops {
  float: right;
  text-align: right;
  font-size: 0.8em;
  max-width: 32.5%;
}

.route-list .route-info .route-name { 
  margin-left: auto;
  margin-right: auto;
  max-width: 35%;
  text-align: center;
}

.train-routes .onward-stops .stop-link, 
.train-routes .final-destinations .stop-link {
  font-size: 0.8em;
  margin: 0.5em 0 0.5em 0;
  padding: 0.2em;
}

.train-routes .onward-stops{
  float: left;
  max-width: 45%;
}

.train-routes .final-destinations {
  float: right;
  max-width: 45%;
}

.fieldset div.checkbox, 
div.submit{
  padding-left: 6.5em;
  width: 20em;
}

/* Login */

.new_user_session {
  width: 50%;
  margin: auto;
}

.new_user_session label{
  width: 7em;
}

.new_user_session input[type=submit] { 
  float: right;
}

.password-reset-link {
  margin-left: 10em;
  font-size: 0.8em;
  padding: 0.6em 0;
}

/* Password reset */
.password_reset_email {
  width: 50%;
  margin: auto;
}

.password_reset_email label {
  width: 7em;
}

.password_reset_email .instructions {
  padding: 0.5em 0;
}

/* Account info*/
.account-info {
  width: 60%;
  margin: auto;
  text-align: center;
}

.account-edit-link {
  padding: 1em 0;
}

/* Creating an account */

.create_account {
  width: 50%;
  margin: auto;
}

.create_account label{
  width: 11em;
}

.create_account input[type=submit] {
  float: right;  
}

/* Updating account */ 
.edit_account {
  width: 62%;
  margin: auto;
}

.edit_account label{
  width: 8em;
}

.edit_account input[type=submit] {
  float: right;  
}

/* Editing user info */
.edit_user{
  width: 50%;
  margin: auto;
}

.edit_user label{
  width: 8em;
}

.edit_user input[type=submit] {
  float: right;  
}



/* Campaign emails */

.campaign-email{
  border: 1px solid #cccccc;
  padding: 1em;
  margin: 1em 0;
  overflow: auto;
}

.campaign-email h2{
  text-align: right;
  font-size: 1em;
}

.campaign-email .body{
  padding: 0.5em 0;
}

.campaign-email .reply-link {
  float: right;
}

/* Outgoing messages */

.outgoing-message-form { 
  padding: 1em;
  text-align: center;
}
.create_outgoing_message {
  margin: auto;
  width: 80%;
}
.create_outgoing_message label {
  width: 8em;
}

.create_outgoing_message input[type=text], 
.create_outgoing_message textarea {
  width: 70%;
}
.create_outgoing_message input[type=submit] {
  float: right;  
}

/* Campaign assignments */

.new_assignment {
  margin: auto;
  width: 90%;
}

.new_assignment label{
  width: 10em;
}

.new_assignment input[type=submit] {
  float: right;
}
/* Pagination */

.pagination {
  padding: 0.5em 0;
}

.pagination .prev_page,
.pagination .next_page, 
.pagination a{
  padding: 0 0.2em;
} 