/*
 * at present these are all just for ie 6, I will check to see what
 * 7 and 8 do later and if they just need the same styles or specific ones
 */

/* hide from IE Mac \*/

* html #banner {
  background-color: expression(this.className == "blue" ? "#048fc2" : this.className == "yellow" ? "#FFFBD7" : "#f4f4f4");
}

* html .report {
    width: 200px;
}


* html .leftcol-banner {
    width: 560px;
}



* html ul#campaign-thread li a.compact:hover {
	background:#eee;
	cursor:default;
	color:#444;
}

* html ul#campaign-thread li a.compact span.close {
	background:none;
}


/* undo hiding */