/*Hacks for IE6*/
* html body {
	width: auto;
}

* html #banner {
  background-color: expression(this.className == "grey" ? "#f4f4f4" : this.className == "yellow" ? "#FFFBD7" : "#048fc2");
}

* html .report, 
* html .report_variant {
    width: 200px;
}


* html .leftcol-banner {
    width: 560px;
}
* html .form-list li.fieldset {
	max-width:40%;
  width: 350px;
}
* html .form-list li input {
	width:100%;
}
* html ul.issues-list li{
	display:inline-block;
}

.button.support {
    padding: 4px 8px 3px 25px;
    font-size: 0.9em;
    width: auto;
    overflow: visible;
}

* html .button.support {
  padding: 4px 8px 3px 8px;
}

a.button.comment {
  padding: 5px 30px 5px 8px;
  font-size: 0.9em;
}

* html a.button.comment {
   padding: 5px 8px 5px 8px;
}

* html ul#existing-issues-list .wrapper{ width: 370px; }
* html ul#existing-issues-list li.problem .wrapper { width: 368px; }

ul#browse-issues-list .wrapper{ width: 390px; }
ul#browse-issues-list li.problem .wrapper { width:388px; }

* html ul.issues-list .wrapper{ width: 470px; }
* html ul.issues-list li.problem .wrapper { width: 468px; }

ul#location-issues-list .wrapper{ width: 330px; }
ul#location-issues-list li.problem .wrapper { width:328px; }

/*remove all png images from IE6 only*/
* html .icon,
* html .button,
* html .has-tabs #tabs-main-nav li#bus-tab,
* html .has-tabs #tabs-main-nav li#coach-tab,
* html .has-tabs #tabs-main-nav li:hover#bus-tab,
* html .has-tabs #tabs-main-nav li:hover#coach-tab,
* html .has-tabs #tabs-main-nav li#bus-tab.ui-state-hover,
* html .has-tabs #tabs-main-nav li#coach-tab.ui-state-hover,
* html .has-tabs #tabs-main-nav li#bus-tab.ui-state-active,
* html .has-tabs #tabs-main-nav li#coach-tab.ui-state-active,
* html .has-tabs #tabs-main-nav li#train-tab,
* html .has-tabs #tabs-main-nav li:hover#train-tab,
* html .has-tabs #tabs-main-nav li#train-tab.ui-state-hover,
* html .has-tabs #tabs-main-nav li#train-tab.ui-state-active,
* html .has-tabs #tabs-main-nav li#ferry-tab,
* html .has-tabs #tabs-main-nav li:hover#ferry-tab,
* html .has-tabs #tabs-main-nav li#ferry-tab.ui-state-hover,
* html .has-tabs #tabs-main-nav li#ferry-tab.ui-state-active,
* html .has-tabs #tabs-main-nav li#metro-tab,
* html .has-tabs #tabs-main-nav li:hover#metro-tab,
* html .has-tabs #tabs-main-nav li#metro-tab.ui-state-hover,
* html .has-tabs #tabs-main-nav li#metro-tab.ui-state-active {
	background-image:none !important;
	text-indent:0;
}
* html button.point-go {
	display:block;
	text-indent:0;
	line-height:1;
	border:none;
	color:#ffffff;
	text-transform:uppercase;
	padding:0;
	cursor:pointer;
	font-size: 2em;
	height:50px;
	width:80px;
	text-align:center;
	background: #048fc2; /* Old browsers */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#048fc2', endColorstr='#006699',GradientType=0 ); /* IE6-9 */
}
* html #find-stop button.point-go {
	height:40px;
	width:60px;
	top:10px;
	left:-15px;
	position:relative;
}
* html #frontpage-top .leftcol .button-col {
  width: 45%;
}

/*Hacks for IE6 and IE7*/

#frontpage-top .leftcol .button-col {
  display: inline;
}

.ui-dialog-title,
#footer {
	float:left;
}

.form-list li .button {
	padding:0.1em 0.25em;
}

#route-type-list li {
	width:20%;
}

.fg-bottom {
	float:none;
}

.form-list li {
	display:block;
	height:2.7em;
}
.form-list li.fieldset .error{
  top:20px;
  position: relative;
  float:none;
  margin:4px 0 0 4px;
}
* html .form-list li.fieldset .error{
  position:absolute;
  top:70px;
}

.form-list li.base-error{
  margin-top: 20px;
  width: 40%;
}

/*sort this*/
.error, .alert, .notice, .success, .info {
	display:inline;
}