/*Hacks for IE6*/
* html #banner {
  background-color: expression(this.className == "grey" ? "#f4f4f4" : this.className == "yellow" ? "#FFFBD7" : "#048fc2");
}

* html .report {
    width: 200px;
}


* html .leftcol-banner {
    width: 560px;
}
* html .form-list li.fieldset {
	width:40%;
}
* html .form-list li input {
	width:100%;
}
* html ul.issues-list li{
	display:inline-block;
}


/*Hacks for IE6 and IE7*/
.ui-dialog-title,
#footer {
	float:left;
}

ol#frontpage-grid li,
#fg-head-inner {
	margin-top:0;
}

.form-list li .button {
	padding:0.1em 0.25em;
}


/*sort this*/
.error, .alert, .notice, .success, .info {
	display:inline;
}
