
#map-col {
  float: right; 
  max-width: 400px;
  margin-left: 0.5em;
  margin-right: 2em;
}

#map {
  width: 400px; 
  height: 400px; 
  position:relative;
  border: 1px solid #000000;
  overflow: hidden;
}  

#map img {
    border: 0;
}


#large-map {
  width: 500px;
  margin:auto;
}

#large-map #map{
  text-align: center;
  width: 500px; 
  height: 500px;
  margin: auto;
}

.tooltip-popup {
  padding: 0;
  background-color: #fffccf;
}
.tooltip-popup-content{
  font-size: 0.7em;
}