
#map-col {
  float: right;
  max-width: 400px;
  margin-left: 0.5em;
  margin-right: 2em;
}

#map {
  width: 400px;
  height: 400px;
  position:relative;
}

#map img {
    border: 0;
}

#large-map {
  width: 500px;
  margin:auto;
  margin-bottom: 3em;
}

#large-map #map{
  text-align: center;
  width: 500px;
  height: 500px;
  margin: auto;
}


#medium-map {
  width: 590px;
  overflow: default;
  padding: 5px 0;
}

#medium-map #map {
  width: 590px;
  height: 490px;
  margin: auto;
  border: none;
}

#problem-map {
  width: 450px;
  overflow: default;
  padding: 5px 0;
}

#problem-map #map {
  width: 450px;
  height: 350px;
  margin: auto;
  border: none;
}

#browse-map {
  width: 490px;
  overflow: default;
  margin: 5px 0;
}

#browse-map #map {
  width: 490px;
  height: 490px;
  margin: auto;
  border: none;
}

#small-map {
  width: 310px;
  overflow: default;
  margin-top: 17px;
  padding: 5px 0;
}

#small-map #map {
  width: 310px;
  height: 160px;
  margin: auto;
  border: none;
}

.tooltip-popup {
  padding: 0;
  background-color: #fffccf;
}
.tooltip-popup-content{
  font-size: 1em;
}

#notice-container{
  min-height: 3em;
}

#map-zoom-notice {
  float: right;
}

#notice-clear {
  clear: both;
}