	<style type="text/css">
		/* -------------------------------------------------------------------------------------------- */
		/* unconditional changes here are for dev: really must change definitions in the original style */
		#logo {
			background: none; /* knock out the existing background-url, it's an image now */
			text-indent: 0;
			border:8px solid blue;

		}
		#logo img{
			max-width:100%;
			margin: 0 auto;
		}

		.mobile-only {
		    display: none;
		}



		/* -------------------------------------------------------------------------------------------- */

		@media screen and (max-width: 600px) {
		    .mobile-only {
		        display: block;
		    }

        .mobile-only#site-name {
          color: #ffffff;
          text-align: center;
          font-size: 2.2em;
        }

		    @font-face {
	        font-family: Arial, sans-serif;
        }
        h1, h2, h3, h4, h5, h6, .font-1, #greybanner p {
          font-family: Arial, sans-serif;
        }

		    ul#mob-footer-nav {
		        width: 100%;
		        padding: 0 0 1em 0;
		        margin:0 auto 3px auto;
		        text-align:center;
		        border-bottom: 1px dotted white;
		        display: inline-block;
	        }

		    ul#mob-footer-nav li{
		        display: inline;
		        padding: 0.2em;
		    }

			body {
				min-width: 200px;
			}
			#yellowbanner {
				width: auto;
				border-left: none;
				border-right: none;
				margin-left: 0;
				margin-right: 0;
			}
			.campaign-description {
				width: 100%;
			}
			p#member-info {
				margin-top:0.5em;
				position: relative;
				display: block;
				float:right;
				top: 0;
				left: 0;
				width:auto;
				clear: both;
				text-align: right;
			}
			#logo {
			    background: none; /* knock out the existing background-url, it's an image now */
				width: 90%;
				visibility: visible;
				text-indent: 0;
				display: block;
				margin: 0.5em auto;
				float: none;
				text-align: center;
			}
			.container {
				width: 95%;
			}
			.support-big, .button.comment, .button.support {
				padding: 10px;
				font-size: 1.2em;
				width: 80%;
			}
			#top-nav,
			#mysociety-tab {
				display: none;
			}

			.leftcol-banner {
				float: none;
				width: 95%;
				font-size: 1em;
			}
			.leftcol {
				float:none;
				width: auto;
				margin-left: 0.25em;
				margin-right: 0.25em;
			}
			.rightcol {
				float:none;
			}
			/* daring: no right aligns? */
			.right {
			    float: none !important;
			    margin-left:auto;
			    margin-right:auto;
			}
			ul#campaign-thread li  {
				background: #eee;
			    line-height: 1em;
			    clear: both;
			}
			ul#campaign-thread li a.thread-item {
			    display: block;
			}
			ul#campaign-thread li a.thread-item span.title {
				width: 80%;
			}

			/*===[ General ]===*/

			#top {
			  display: none;
			}

			p#member-info {
			  display: none;
			}

			#greybanner {
      	margin-bottom: 0.2em;
        padding: 1px 0;
      }

      #banner h1, #greybanner h1, #greybanner h2 {
        font-size: 1.5em;
      }

      h3 {
        margin-bottom: 0.2em;
      }

      .button, #login-form button, .fieldset button, .form-field button,
      .login-options a.button{
				padding: 10px 0;
				font-family: Arial, Helvetica, sans-serif;
				font-size: 1.2em;
				width: 100%;
				margin: 0.2em auto;
        line-height: normal;
			}

			.error, .alert, .notice, .success, .info {
			  font-size: 1em;
			  width: 90%;
			  margin: 0;
			  float: none;
			}

			#create-account-form input {
			  width: 90%;
			}

			#goto-top-wrap {
      	display: none;
      }

			#footer {
			  background: none;
			  padding: 0;
			}

			#main-content {
			  min-height: inherit;
			  padding-bottom: 1.5em;
			}

			p {
			  margin: 0;
			}

			/*===[Create account/Login]===*/

			.login-options {
			  float: none;
			  padding: 0;
			  width: 100%;
			  display: block;
			}
			  .login-options p {
          margin: 0;
        }

			#create-account-form {
			  width: 100%;
			  float: none;
			}

			#main-content #login-landing-wrap {
			  margin: 0;
			  padding: 0;
			  width: 100%;
			  border: 0;
			}

			#login-form {
          padding: 0;
          width: 100%;
      }

      #login-form ul li.login-username input,
      #login-form ul li.login-password input {
          width: 90%;
      }

			/*===[ Front page]===*/

      #frontpage-top {
      	margin:0.2em auto 0 auto;
      }

			#frontpage-top .leftcol ul#frontpage-problem-scroller {
			  display: none;
			}

			#what-it-does {
			  display: none;
			}

		  #how-it-works {
		    display: none;
		  }

			#frontpage-banner-left {
			  display: none;
			}


			#frontpage-banner-right {
        display: block;
        float: none;
        margin: 0;
        padding: 0;
        width: 100%;
      }

      #frontpage-banner-right h2 {
        display: none;
      }

			#frontpage-banner-right ul {
			  display: inline-block;
			  border-bottom: 1px dotted white;
        margin: 0 auto 3px;
        padding: 0 0 1em;
        text-align: center;
        width: 100%;
			}

			#frontpage-banner-right ul li {
        display: inline;
        padding: 0.2em;
        border: none;
      }

      #frontpage-banner-right ul li a {
        border: none;
        display: inline;
        font-size: 1em;
        text-decoration: underline;
      }

      #frontpage-top .leftcol .button {
        padding: 0.8em 0;
        margin: 0.5em 0;
      }

			.twitter-text, .facebook-text {
			  display: none;
			}

			#frontpage-top .leftcol #followus a {
        margin: 1em 1em 1em;
      }

			/*===[ Find stop]===*/
			#find-stop {
			  background: none;
			  width: 90%;
			  margin: 45% 5%;
			}

			#find-stop input {
    		float:none;
    		width:95% ;
    	  font-size: 1.3em;
 		    margin: 1% 0 1% 0;
 		    border: 2px solid #048fc2;
 		    padding: 0.5em;
 		  }

   		#find-stop .point-go {
   		  float: none;
   		  margin: 2em auto;
 		  }

 		  #large-map {
 		    width: 100%;
 		  }

 		  #problem-map #map {
        width: 100%;
        height: 10em;
        margin: auto;
        border: none;
      }

      /* ===[ Find a route]=== */
      #route-type-list {
          height: auto;
          width: 100%;
      }

      #route-type-list li {
          float: none;
          margin: 0;
          width: 100%;
      }

      #route-type-list a.tram, #route-type-list a.tram:focus, #route-type-list a.tram:hover {
        background: none no-repeat scroll center 50px, -moz-linear-gradient(center top , #FFB600 0%, #D89700 100%) repeat scroll 0 0 transparent;
      }

      #route-type-list a.ferry, #route-type-list a.ferry:focus, #route-type-list a.ferry:hover {
        background: none no-repeat scroll center 50px, -moz-linear-gradient(center top , #669933 0%, #99CC33 100%) repeat scroll 0 0 transparent;
      }

       #route-type-list a.bus, #route-type-list a.bus:focus, #route-type-list a.bus:hover {
      	background: #048fc2 none center 50px no-repeat; /* Old browsers */
      	background: none center 50px no-repeat, -moz-linear-gradient(top, #048fc2 0%, #006699 100%); /* FF3.6+ */
      	background: none center 50px no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#048fc2), color-stop(100%,#006699)); /* Chrome,Safari4+ */
      	background: none center 50px no-repeat, -webkit-linear-gradient(top, #048fc2 0%,#006699 100%); /* Chrome10+,Safari5.1+ */
      	background: none center 50px no-repeat, -o-linear-gradient(top, #048fc2 0%,#006699 100%); /* Opera11.10+ */
      	background: none center 50px no-repeat, -ms-linear-gradient(top, #048fc2 0%,#006699 100%); /* IE10+ */
      	filter: none; /* IE6-9 */
      	background: none center 50px no-repeat, linear-gradient(top, #048fc2 0%,#006699 100%); /* W3C */
      }

      #route-type-list a.train, #route-type-list a.train:focus, #route-type-list a.train:hover {
      	background: #cc3366 none center 50px no-repeat; /* Old browsers */
      	background:none center 50px no-repeat, -moz-linear-gradient(top, #cc3366 0%, #9d1f60 100%); /* FF3.6+ */
      	background:none center 50px no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc3366), color-stop(100%,#9d1f60)); /* Chrome,Safari4+ */
      	background:none center 50px no-repeat, -webkit-linear-gradient(top, #cc3366 0%,#9d1f60 100%); /* Chrome10+,Safari5.1+ */
      	background:none center 50px no-repeat, -o-linear-gradient(top, #cc3366 0%,#9d1f60 100%); /* Opera11.10+ */
      	background:none center 50px no-repeat, -ms-linear-gradient(top, #cc3366 0%,#9d1f60 100%); /* IE10+ */
      	filter: none; /* IE6-9 */
      	background:none center 50px no-repeat, linear-gradient(top, #cc3366 0%,#9d1f60 100%); /* W3C */
      }

      #route-type-list a.tram, #route-type-list a.tram:focus, #route-type-list a.tram:hover {
      	background: #ffb600 none center 35px no-repeat; /* Old browsers */
      	background:none center 35px no-repeat, -moz-linear-gradient(top, #ffb600 0%, #d89700 100%); /* FF3.6+ */
      	background:none center 35px no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffb600), color-stop(100%,#d89700)); /* Chrome,Safari4+ */
      	background:none center 35px no-repeat, -webkit-linear-gradient(top, #ffb600 0%,#d89700 100%); /* Chrome10+,Safari5.1+ */
      	background:none center 35px no-repeat, -o-linear-gradient(top, #ffb600 0%,#d89700 100%); /* Opera11.10+ */
      	background:none center 35px no-repeat, -ms-linear-gradient(top, #ffb600 0%,#d89700 100%); /* IE10+ */
      	filter: none; /* IE6-9 */
      	background:none center 35px no-repeat, linear-gradient(top, #ffb600 0%,#d89700 100%); /* W3C */
      }

      #route-type-list a.ferry, #route-type-list a.ferry:focus, #route-type-list a.ferry:hover  {
      	background: #99cc33 none center 50px no-repeat; /* Old browsers */
      	background:none center 50px no-repeat, -moz-linear-gradient(top, #99cc33 0%, #669933 100%); /* FF3.6+ */
      	background:none center 50px no-repeat, -webkit-gradient(linear, left top, left bottom, color-stop(0%,#99cc33), color-stop(100%,#669933)); /* Chrome,Safari4+ */
      	background:none center 50px no-repeat, -webkit-linear-gradient(top, #99cc33 0%,#669933 100%); /* Chrome10+,Safari5.1+ */
      	background:none center 50px no-repeat, -o-linear-gradient(top, #99cc33 0%,#669933 100%); /* Opera11.10+ */
      	background:none center 50px no-repeat, -ms-linear-gradient(top, #99cc33 0%,#669933 100%); /* IE10+ */
      	filter: none; /* IE6-9 */
      	background:none center 50px no-repeat, linear-gradient(top, #99cc33 0%,#669933 100%); /* W3C */
      }


      #route-type-list li a {
        padding: 10px 0;
        margin: 1em 0;
        height: auto;
      }
      #route-type-list li a.tram {
        height: auto;
        margin: 1em 0;
        padding: 10px 0;
      }
      #route-type-list a.tram {
        background: no-repeat scroll center 35px, -moz-linear-gradient(center top , #FFB600 0%, #D89700 100%) repeat scroll 0 0 transparent;
      }

      .form-list {
      	display:block;
      	margin: 0;
      	padding:0;
      	width: 100%;
      	list-style-type:none;
      }

        .form-list li {
            display: inline-block;
            float: none;
            margin: 0 ;
            width: 100%;
            left:0;
            top: 0;
            position: relative;
        }

      	.form-list li.fieldset {
      		padding:5px;
      		max-width:90%;
      		width: 90%;
      		margin: 1em auto;
      		padding: 5px 0;
      		background: inherit;
      	}
      	.form-list li.fieldset:hover,
      	.form-list li.active,
      	.form-list li.fieldset:focus {
      		background: inherit;
      	}
      		.form-list li input,
      		.form-list li select {
      			margin:0;
      			border:2px solid #048fc2;
            width: 100%;
      		}
      		.form-list li select {
      			width:100%;
      		}
      		.form-list li label {
      			display:block;
      			left: 0;
      			top: 0;
      			position:relative;
      		}

          .form-list .point-go {
            float: none;
            margin: 2em auto;
          }
      			.form-list li.fieldset .error{
      				position: relative;
      				top: 3px;
      			}

    		  #map-col {
             display:none;
          }


 		  /* ===[ Reporting a Problem Page ]=== */

      #problem-map {
        position:relative;
      }

      #problem-map {
        width: 100%;
        overflow: default;
        padding: 5px 0;
      }

      #problem-map #map {
        width: 100%;
        height: 10em;
        margin: auto;
        border: none;
      }

      #problem-map #notice-container {
        display: none;
      }

      .form-1 ul li {
        width: 100%;
        margin: 0;
      }
      .form-1 input, .form-1 textarea, .form-1 select {
        width: 98%;
        margin:; 0 auto;
        padding: 0;
      }

      .tipbox, .tipbox.fixed {
      	position:relative;
      	left: 0;
      	top:10px;
      	display:block;
      	float:none;
      	width:98%;
      	padding: 0.5em 0.5em;
      	margin-bottom: 1em;
      	background:#F4F4F4;
      	color: #333333;
      }
      .tipbox a, .tipbox.fixed a {
      	color:#048fc2;
      }
      .tipbox .tip-close, .tipbox.fixed .tip-close,
      .tipbox h5, .tipbox.fixed h5 {
      	display:none;
      }

      /* ===[ Converting a problem ]=== */
		  .left {
		    float: none !important;
		  }

		  #choose {
		    padding-bottom: 1em;
		  }

		  #choose h1 {
        color: #048FC2;
        margin: 0.5em;
        font-size: 1.5em;
      }

      #choose h2 {
        font-size: 1.5em;
        margin-bottom: 0.25em;
        line-height: 1.1;
      }

		  #choose p {
        font-size: 1em;
      }

		  #choose .left {
		    margin-left: 0;
		  }

		  #choose .left, #choose .right {
		    width: inherit;
		  }

		  #choose .left .button, #choose .right .button {
        font-size: 1.5em;
        margin: 0.3em auto;
        padding: 1em 0;
        display: inline-block;
        width: 100%;
      }

      #choose p br {
        display:none;
      }

      #choose .middle {
        display: none;
      }

    	#choose .left p, #choose .right p {
        font-size: 1em;
        margin: 0.5em auto 0.5em;
        width: 100%;
      }

      #choose .left ul, #choose .right ul li {
        text-align: left;
      }

      #choose .left ul, #choose .right ul {
        margin: 0 auto;
        text-align: left;
        display: inline-block;
      }

      #choose .left p.convert-explanation,
      #choose .right p.convert-explanation {
        display: none;
      }
 	}
	</style>
