<div class='fieldset'>
	<label for="email-text"><%= t('shared.email.email_instructions')%></label>
	<textarea id="email-text" name="email-text" onClick="this.select();"><%= t('shared.email.email_text')%></textarea>
</div>
