<div class='fieldset'>
	<label for="email-text"><%= t('shared.login.email_instructions')%></label>
	<textarea id="email-text" name="email-text" onClick="this.select();"><%= t('shared.login.email_text')%></textarea>
	<button id="email-copy-button" class="button">Copy</button>
</div>
