<%- form_tag password_resets_path, :class => 'password_reset_email' do  %>

  <div class="form-field">

    <label><%= raw t('password_resets.new.email') %></label>
    <%- if @error_email %>
      <div class='error error-email'>
        <%= @error_email %>
      </div>
      <%- else %>
        <div class='error error-email' style="display: none;"></div>
    <%- end %>
    <%= raw text_field_tag :email, '' %>
  </div>
  <button class="button" type="submit">
    <%= t('password_resets.new.continue') %>
  </button>
<%- end %>