<h3>Related Issues</h3>
<%- if !location.campaigns.visible.empty? %>
<ul class="related-issues">
	<%- location.campaigns.visible.each do |campaign| %>
	<li>
     <%= render :partial => 'shared/campaign', :locals => { :context => :location, :campaign => campaign } %>
	</li>
  <%- end %>
</ul>
<%- else %>
No reported issues.
<%- end %>

