<h3>Related Issues</h3>
<%- if !location.related_issues.empty? %>
<ul class="issues-list">
	<%- location.related_issues.each do |issue| %>
     <%= render :partial => 'shared/issue', :locals => { :issue => issue, :context => :location } %>
  <%- end %>
</ul>
<%- else %>
No reported issues.
<%- end %>

