<%- if !location.campaigns.visible.empty? %>
<h3>Related Campaigns</h3>
<ul class="related-campaigns">
	<%- location.campaigns.visible.each do |campaign| %>
	<li>
     <%= render :partial => 'shared/campaign', :locals => { :context => :location, :campaign => campaign } %>
	</li>
  <%- end %>
</ul>
<%- end %>

