<h3><%= t('shared.location_content.related_issues')%></h3>
<%- if !location.related_issues.empty? %>
<ul class="issues-list">
	<%- location.related_issues.each do |issue| %>
     <%= render :partial => 'shared/issue', :locals => { :issue => issue, :context => :location } %>
  <%- end %>
</ul>
<%- else %>
<%= t('shared.location_content.no_issues')%>
<%- end %>

