<div id="login-box" class="login-box">
	<div id="login-landing" class="pane">
    <%= render :partial => "shared/login_form" %>
	</div>

	<div id="login-twitter" class="pane">
		<h2>TWITTER</h2>
	</div>
	
	<div id="login-facebook" class="pane">
		<h2>FACEBOOK</h2>
	</div>
	
	<div id="login-create-account" class="pane">
		<%= render :partial => 'shared/create_account' %>
	</div>

</div>