= render :partial => 'shared/location_map_js', :locals => { :locations => locations, :other_locations => other_locations }
#map
  %noscript
    #drag
      %img{:class => 'static-map-element', :alt => "Map", :src => "#{Map.google_tile_url(@lat, @lon, @zoom)}", :style => "top:0px; left:0;"}      
      %div{:id => "pan_up", :class => 'map-control static-map-element', :style => "left: 13px; top: 4px; width: 18px; height: 18px; position: absolute; "}
        %a{:rel => 'nofollow', :href => url_for(params.merge(:lat => Map.top(@lat, @zoom)))}
          %img{:style => "width: 18px; height: 18px; position: relative; ", :src => "http://openlayers.org/api/img/north-mini.png"}   
      %div{:id => "pan_left", :class => 'map-control static-map-element', :style => "left: 4px; top: 22px; width: 18px; height: 18px; position: absolute; "}
        %a{:rel => 'nofollow', :href => url_for(params.merge(:lon => Map.left(@lon, @zoom)))}
          %img{:style => "width: 18px; height: 18px; position: relative; ", :src => "http://openlayers.org/api/img/west-mini.png"}   
      %div{:id => "pan_right", :class => 'map-control static-map-element', :style => "left: 22px; top: 22px; width: 18px; height: 18px; position: absolute; "}
        %a{:rel => 'nofollow', :href => url_for(params.merge(:lon => Map.right(@lon, @zoom)))}
          %img{:style => "width: 18px; height: 18px; position: relative; ", :src => "http://openlayers.org/api/img/east-mini.png"}   
      %div{:id => "pan_down", :class => 'map-control static-map-element', :style => "left: 13px; top: 40px; width: 18px; height: 18px; position: absolute; "}
        %a{:rel => 'nofollow', :href => url_for(params.merge(:lat => Map.bottom(@lat, @zoom)))}
          %img{:style => "width: 18px; height: 18px; position: relative; ", :src => "http://openlayers.org/api/img/south-mini.png"}  
      %div{:id => "zoom_in", :class => 'map-control static-map-element', :style => "left: 13px; top: 63px; width: 18px; height: 18px; position: absolute; "}
        %a{:rel => 'nofollow', :href => url_for(params.merge(:zoom => Map.zoom_in(@zoom)))}
          %img{:style => "width: 18px; height: 18px; position: relative; ", :src => "http://openlayers.org/api/img/zoom-plus-mini.png"}    
      %div{:id => "zoom_world", :class => 'map-control static-map-element', :style => "left: 13px; top: 81px; width: 18px; height: 18px; position: absolute; "}
        %a{:rel => 'nofollow', :href => url_for(params.merge(:zoom => MIN_ZOOM_LEVEL))}
          %img{:style => "width: 18px; height: 18px; position: relative; ", :src => "http://openlayers.org/api/img/zoom-world-mini.png"}   
      %div{:id => "zoom_out", :class => 'map-control static-map-element', :style => "left: 13px; top: 99px; width: 18px; height: 18px; position: absolute; "}
        %a{:rel => 'nofollow', :href => url_for(params.merge(:zoom => Map.zoom_out(@zoom)))}
          %img{:style => "width: 18px; height: 18px; position: relative; ", :src => "http://openlayers.org/api/img/zoom-minus-mini.png"}
      %div#markers
        = render :partial => 'shared/location_marker', :collection => other_locations, :as => :location, :locals => {:small => true, :main => false }
        = render :partial => 'shared/location_marker', :collection => locations, :as => :location, :locals => {:small => false, :main => true }