- if location_search and !location_search.responded? instance
  .location-search-response= link_to t(:location_response_yes), respond_url(instance, :response => 'success')
  .location-search-response= link_to t(:location_response_no), respond_url(instance, :response => 'fail')