<div data-role="page" data-theme="d" style="text-align: center; margin: 1em; font-family: arial, verdana, sans-serif;">
 <div data-role="content" data-theme="d" style="margin: 0 auto;">
  <img src="/images/fmt_logo_small_stacked_bigger.jpg"/>
  <p><%= raw t('shared.mobile_placeholder.follow_twitter', :twitter => link_to(t('shared.mobile_placeholder.twitter'), 'http://mobile.twitter.com/FixMyTransport')) %></p>
  </div>
</div>