.story-location-name= @story.location.name
.story-location-locality-name= @story.location.locality_name
.story-location-landmark= @story.location.landmark
.story-location-street= @story.location.street