- content_for :javascript do 
  != map_javascript_include_tags
#map-col
  #map
  :javascript
    var areaStops = #{location_stops_js(@story.locations)}
    jQuery(document).ready(function(){
       area_init();
    });
%p= t(:multiple_locations_intro, :num_locations => MAX_LOCATION_RESULTS)
%ul
- @story.locations.each do |location|
  %li= link_to location.description, location_url(location)