- content_for :javascript do 
  != map_javascript_include_tags
- if @story.location
  #map-col
    #map
    :javascript
      var areaStops = #{location_stops_js([@story.location])}
      jQuery(document).ready(function(){
         area_init();
      });
  .story-info
    %h3= @story.title
    %p.story= @story.story