Hi transport experts!

<%= @advice_request.user.name %> would like some advice about the FixMyTransport campaign "<%= @campaign.title %>" (<%= @link %>).

<%= @advice_request.user.name %> says:

"<%= sanitize @advice_request.text %>"

To give some advice, follow this link: <%= @link %>

Yours,

The FixMyTransport team
