Hi<%= raw " #{@recipient.name}" %>,

A new message has arrived for your FixMyTransport campaign
"<%= @campaign.title %>":

To see this message and tell your fellow campaigners what's in it, click on the link below
<%= raw @link %>

Yours,
The FixMyTransport team