Hi<%= " #{@recipient.name}" %>,

<%= update_text(@update, @link) %> 

<%= @update.user.name %> says:

"<%= sanitize(raw(@update.text)) %>"

To comment on this update, please follow this link: <%= @link %>

Yours,
The FixMyTransport team

To leave this campaign and stop receiving updates, please follow this link: <%= @unsubscribe_link %>
