.about
  %h3= t(:about_this_site)
  %p 
  Brief Encounters has been created as a public first milestone in the development of <a href="http://www.mysociety.org/2010/03/15/mysocietys-next-12-months-fixmytransport-and-project-fosbury/">FixMyTransport</a>, a site focussed on connecting and empowering people who share transport problems of different kinds. We'd <i>really</i> like any <a href="feedback">feedback</a> you have for us on the site, or on the idea of FixMyTransport. 
  %p 
  The site uses two of the newly released public transport datasets - the <a href="http://data.gov.uk/dataset/naptan">National Public Transport Access Nodes (NaPTAN)</a> and the <a href="http://data.gov.uk/dataset/nptg">National Public Transport Gazetteer (NPTG)</a>. It also uses data from the <a href="http://www.nptdr.org.uk/">National Public Transport Data Repository (NPTDR)</a>. The code that runs Brief Encounters is open source, and available <a href="http://github.com/mysociety/fixmytransport">on github.</a>
     
  
  %p Brief Encounters was built by mySociety, the project of a registered charity which has grown out of the community of volunteers who built sites like <a href="http://www.theyworkforyou.com">TheyWorkForYou.com</a>. mySociety’s primary mission is to build Internet projects which give people simple, tangible benefits in the civic and community aspects of their lives. Our first project was <a href="http://www.writetothem.com">WriteToThem</a>, where you can write to any of your elected representatives, for free. The charity is called UK Citizens Online Democracy and is charity number 1076346.

  %p 
    mySociety can be contacted by email at 
    =link_to('hello@mysociety.org', "mailto:hello@mysociety.org")
    or by post at:

  %p  
    mySociety
    %br
    PO Box 839
    %br
    Oxford
    %br
    OX1 9LG
    %br
    UK