<div id="main-content" class="container">
    <div class='about'>
      <h3>About FixMyTransport</h3>
  
      <h4>What is this site? </h4>
      <p>
        FixMyTransport was built to help people get common public transport problems resolved. It is targeted specifically at smaller problems such as persistently broken ticket machines, buses that always leave early, or silly rules that appear to do nothing but create inconvenience for travellers.
      </p>
      <h4>Who built it? </h4>
      <p>
        FixMyTransport was built by <a href="http://www.mysociety.org/about">mySociety</a> senior developer <a href="http://www.louisecrow.com/blog/about.html">Louise Crow</a>.
      </p>
      <p>
        The graphic design on the site was done by Birmingham's excellent <a href="http://www.supercooldesign.co.uk/">Supercool</a>.
      </p>
      <p>
        FixMyTransport's forthcoming mobile interface is being developed by mySociety's own in house ninja, Dave Whiteland.
      </p>
      <p>
        mySociety is the project of a charity called UK Citizens Online Democracy (no. 1076346).
      </p>
      <h4>How does this site help people get problems resolved?</h4>
      <p>
        At a basic level, FixMyTransport makes it easy for people to send problem reports to the companies or authorities responsible for those problems.
      </p>
      <p>
        However, we know that simply sending an email often won't be enough to get a problem resolved. That's why we've built a complete system to make it easy to gather support other people, whether fellow commuters, colleagues or friends.  We believe that this is worth doing because a transport company that doesn't respond to one person may very well respond to ten.
      </p>
      <p>
        We hope that FixMyTransport will also help people by becoming part of the wider internet community of transport activists and campaigners. In particular, we hope that that community comes to see FixMyTransport as a place where experts and old hands can transfer their skills to people who have little or no experience of lobbying for change.
      </p>
      <h4>Is there a hidden agenda behind this site?</h4>
      <p>
      Yes! As well as being aimed at helping people to solve transport problems, FixMyTransport represents an experiment to discover whether a sufficiently well designed internet service can help tip people over the edge from grumbling about a problem to taking action to resolve it. We welcome your thoughts on how to measure whether or not we're succeeding.
      </p>
      
      <h4>Can I have a copy of FixMyTransport in my city, region or country?</h4>
      <p>
      Yes indeed, we'd love to see versions spring up elsewhere, but we strongly suggest that you have a chat with us about it first. We think that talking is important because we want to help you to learn from our mistakes, and we want to be friends with the people who run copies elsewhere. If you just want to dive into the open source code, it is here <a href="http://github.com/mysociety/fixmytransport">on github</a>. Patches and feature upgrades warmly welcomed!
      </p>
      <h4>Where does the data come from? </h4>
      <p>
        The site uses several public transport datasets - the <a href="http://data.gov.uk/dataset/naptan">National Public Transport Access Nodes (NaPTAN)</a>, the <a href="http://data.gov.uk/dataset/nptg">National Public Transport Gazetteer (NPTG)</a> and the <a href="http://data.gov.uk/dataset/nptdr/">National Public Transport Data Repository (NPTDR)</a>. It also contains crowdsourced email and telephone data for the operators themselves, gathered by mySociety's wonderful and energetic community of supporters.
      </p>
      <h4>How can I get in touch? </h4>
      <p>
        We'd really like any <a href="/feedback">feedback</a> you have for us on the site, or on the idea of FixMyTransport. mySociety can be contacted by email at 
        <%= link_to('hello@mysociety.org', "mailto:hello@mysociety.org") %>
        or by post at:
      </p>
    </div>

      <p>
        mySociety
        <br>
        483 Green Lanes,
        <br>
        London 
        <br>
        N13 4BS
        <br>
        UK
     </p>
     
     <a name='privacy'></a>
     <h4>Privacy policy</h4>
     <p>
       We ask for your email address so that the transport organisation who's responsible for your problem can write back to you, and also so that we can send you updates about your problem, and any other people's problems that you choose to support. We will also, occasionally, send you information when we make changes to the site which will make it easier for you to overcome your transport problems. But we won't do anything else with it. If you would like to be kept up to date with the latest news on FixMyTransport, you could follow us on <a href="http://twitter.com/FixMyTransport" >Twitter</a>, like us on <a href="http://www.facebook.com/pages/FixMyTransport/208222939208330">Facebook</a>, or sign up for the <a href="https://secure.mysociety.org/admin/lists/mailman/listinfo/news">mySociety newsletter</a>.
     </p>
</div>