<div id="main-content" class="container">
  <div class='advice'>
    <h3>Making a site like this</h3>
    The code that runs FixMyTransport is open source, and available <a href="http://github.com/mysociety/fixmytransport">on github,</a>  if you want to build a similar site or just see how we built this one. More advice coming soon!
  </div>
</div>