<div id="main-content" class="container">
  <div class='advice'>
    <h1>Greetings!</h1>

    <p>
      If you're seeing this then you're almost certainly visiting the new beta FixMyTransport website from a computer outside the UK. We're delighted you're here: FixMyTransport is mySociety's biggest new project since 2008, and the culmination of a lot of thinking about what's still missing from the civic side of the internet.
    </p>

    <p>
      We know that many people around the world copy mySociety's sites - and as an open source not-for-profit it makes us <strong>very happy</strong> that they do so.
    </p>
    
    <p>
    However, all too often we find that people make copies of our sites without ever telling us that they plan to. As a consequence they <strong>don't get to learn</strong> from all the mistakes we make, they don't get to benefit from collaborating on shared code, and we don't get to meet exciting people in other countries!
    </p>

    <p>
    So this page is simply to say that <strong>if you're interested in running FixMyTransport within your own country or region, please do <%= link_to('send us an email to say so', "mailto:#{MySociety::Config.get('CONTACT_EMAIL', 'contact@localhost')}") %></strong>. We won't demand money or anything - we just want to hear from you, to see if we can work better together.
    </p>

    <p>
      Yours sincerely,
    </p>
    <p>
    Tom Steinberg
    <br/>
    Director, mySociety
    </p>

  </div>
  

</div>