<div class='container'>
  <!-- note: max width for canvas is 760px, not application default -->
  <h3>FMT via Facebook</h3>
  
  <h4>Canvas placeholder </h4>
  <p>
    Thanks for coming!
  </p>
</div>