<div class='container'>
  <!-- note: max width for canvas is 760px, not application default -->
<%= link_to( t('static.facebook.visit_the_site'),  root_url,  :class => 'font-1 button green', :target => '_blank') %>

</div>