<div id="banner">
    <a id="home" href="/">FixMyTransport</a>
	<div class="container">
		<h1><%= t('subscriptions.confirm_unsubscribe.click_to_confirm') %></h1>
	</div>
</div>

<div id="main-content" class="container">
	<div class='confirm-form'>
	  <form action="" method="POST">
	   <input type="hidden" value="<%= params[:email_token]%>">
	   <button class="button big" type="submit"><%= t('subscriptions.confirm_unsubscribe.unsubscribe') %></button>
	  </form>
	</div>
</div>