<div id="banner">
    <a id="home" href="/">FixMyTransport</a>
  <div class="container">
    <h1><%= t('questionnaires.completed.thanks')%></h1>
  </div>
</div>

<div id="greybanner">
  <div class="container">
    <p>  <%= t('questionnaires.completed.success_thanks') %>
    </p>
  </div>
</div>

<div id="main-content" class="container">

  <!-- TODO_QUESTIONNAIRE: This seems like a good place to put the link to the external questionnaire. Note that this template is rendered from the actions QuestionnairesController::update and  QuestionnairesController::creator_fixed -->
  <%= render :partial => 'cross_sell/newsletter', :locals => { :user => current_user } %>

</div>


