- if search.failed? 
  - div_class = 'failed-search'
- else
  - div_class = 'search'
%div{:class => div_class}
  = link_to search.description, admin_url(admin_location_search_path(search))
  = search.created_at.to_s(:short)