<%- if search.failed?  %>
  <%- div_class = 'failed-search' %>
<%- else %>
 <%- div_class = 'search' %>
<%- end %>
<div class='<%= div_class %>'>
  <%= search.description %>
  <%= search.created_at.to_s(:short) %>
</div>
