<a href="#" class="thread-item"><span class="num"><%= index %></span><span class="title"><%= "#{assignment.user_name} reported the issue on FixMyTransport." %></span><span class="date"><%= event.created_at.to_s(:standard_with_date) %></a>
