<a href="#" class="thread-item compact publish-problem">
  <span class="num"><%= index %></span>
  <span class="title">
    <%= t('campaigns.show.reported_issue', :name => assignment.user_name) %>
  </span>
  <span class="close">close</span>
  <span class="date"><%= event.created_at.localtime.to_s(:standard_with_date) %>
  </span>
</a>