<a href="#" class="thread-item"><span class="num"><%= index %></span><span class="title"><%= "#{assignment.user_name} reported the issue on FixMyTransport." %></span><span class="close">close</span><span class="date"><%= t(:ago, :time => time_ago_in_words(event.created_at)) %></span></a>
