<a href="#" class="thread-item compact">
  <span class="num"><%= index %></span>
  <span class="title">
    <%= event.title %>
  </span>
  <span class="close">close</span>
  <span class="date"><%= event.created_at.localtime.to_s(:standard_with_date) %>
  </span>
</a>