<%= "#{assignment.user_name} wrote to #{assignment.data[:organizations].map{ |organization| organization[:name] }.to_sentence}" %>
<span class='date'>
  <%= t(:ago, :time => time_ago_in_words(event.created_at)) %>
</span>
