.campaign-event
  %span.date= short_date(assignment.updated_at)
  = "#{assignment.user_name} wrote to #{assignment.data[:organizations].map{ |organization| organization[:name] }.to_sentence}"          