<a href="#" class="thread-item"><span class="num"><%= index %></span><span class="title"><%-if assignment.task_type_name == 'find-transport-organization' %>
  <%= event.title %> 
<%-elsif assignment.task_type_name == 'find-transport-organization-contact-details' %>
  <%= t('campaigns.show.contact_found', :user_name => assignment.user.name, :operator_name => assignment.campaign.problem.operator_names ) %>
<%- end %></span><span class="date"><%= event.created_at.localtime.to_s(:standard_with_date) %></span></a>