  .campaign-body
    %span.title
      %b= campaign.title
    =t(:added)
    %span.reporter=  t(:by, :name => campaign.reporter.name)
    %span.transport-location!= t(:campaign_location, :link => link_to(campaign.location.description, campaign_url(campaign)))
