<%- form_for campaign, :url => campaign_url(campaign, :token => params[:token]), :html => { :class => 'update_campaign' } do |f| %>
  <div class='fieldset'>
    <%- if campaign.errors.on('description') %>
      <div class='error'><%= error_message_on campaign, :description %>
			</div>
		<%- end %>
		<div class='form-field'>
		  <%= raw f.text_area :description, { :rows => 8, :cols => 50 } %>
		</div>
		<button type="submit" class="button right"><%= t('campaigns.edit.save') %></button>
	</div>
<%- end %> 