-if assignment.task_type_name == 'write-to-other'
  = t(:expert_advised_writing, :expert => assignment.creator.name, :user => assignment.user.first_name,  :recipient => assignment.data[:name], :reason => assignment.data[:reason])

%span.date= t(:ago, :time => time_ago_in_words(event.created_at))