.campaign{:class=>"campaign-transport-#{campaign.transport_mode_css_name}"}
  .campaign-body
    %span.title
      %b= campaign.title
    =t(:added)
    %span.author= campaign.reporter.name.blank? ? t(:anonymously) : t(:campaign_by, :name => campaign.reporter.name)
    %span.transport-location!= t(:campaign_location, :link => link_to(campaign.location.description, campaign_url(campaign)))
