.campaign-location-name= @campaign.location.name
.campaign-location-locality-name= @campaign.location.locality_name
.campaign-location-landmark= @campaign.location.landmark
.campaign-location-street= @campaign.location.street