<div class='campaign-location-name'>
  <%= @campaign.location.name %>
</div>
<div class='campaign-location-locality-name'>
  <%= @campaign.location.locality_name %>
</div>
<div class='campaign-location-landmark'>
  <%= @campaign.location.landmark %>
</div>
<div class='campaign-location-street'>
  <%= @campaign.location.street %>
</div>
