<%- if current_user %>
  <%- if !current_user.supporter_or_initiator(@campaign) %>

    <%- form_for @campaign, :url => join_campaign_url(@campaign), :html => { :method => 'POST'  } do |f| %>
        <button type="submit" class="button <%= raw button_class %> green"><%= t('campaigns.show.support_this')%></button>
    <%- end %>

  <%- end %>

<%- else %>

  <%- form_for @campaign, :url => join_campaign_url(@campaign), :html => { :method => 'POST', :class => 'login-to-support' } do |f| %>
    <%= raw hidden_field_tag "next_action", @next_action_join %>
    <button type="submit" class="button <%= raw button_class %> green">Support</button>
  <%- end %>

<%- end %>
