%h3= t(:add_an_update)
- form_for @campaign_update, :url => add_update_campaign_url(@campaign) do |f|
  .fieldset
    .form-field
      != f.hidden_field :user_id
      !=f.text_area :text, :cols => 40, :rows => 5
      !=f.submit t(:add_update)