<div id="main-nav-bar">
	<div class="container">
		<ul id="process" class="crumb">
			<li id="crumb1"><a href="#general">General</a></li>
			<li id="crumb2"><a href="#images">Images</a></li>
			<li id="crumb3"><a href="#share">Share</a></li>
		</ul>
	</div>
</div>
	<div id="main-content">
		<form id="process-tabs" class="form-1">
			<ul class="tabbed">
				<div id="general" class="pane">
					<div id="banner">
						<div class="container">
							<h4>Give your campaign a headline and description</h4>
						</div>
					</div>
					<div class="container">
						<li>
							<label for="headline">Please help me persuade <span>The Operator</span> to:</label>
							<input name="headline" type="text" />
							<div class="tipbox">
								<a href="#" class="tip-close">Close</a>
								<h5>Make a title</h5>
								<p>Give your campaign a good title</p>
								<p>E.g. "<em>Please help me persuade The Operator to get rid of the awful smell between Manors and Monument on the Metro</em>"</p>
							</div>
						</li>

						<li>
							<label for="description">Description</label>
							<textarea name="description"></textarea>
							<div class="tipbox">
								<a href="#" class="tip-close">Close</a>
								<h5>Add a short description</h5>
								<p>In no more than 40 words, provide a quick description of the issue. This will allow others to easily understand and support your campaign.</p>
							</div>
						</li>
					</div>
				</div>

				<div id="images" class="pane">
					<div id="banner">
						<div class="container">
							<h4>Add some images</h4>
						</div>
					</div>
					<div class="container">
						<li>
							<label for="uploadimages">Upload Images</label>
							<input name="uploadimages" type="file" />
							<div class="tipbox fixed">
								<h5>Upload Images</h5>
								<p>Upload images that are related to your campaign. For example you could include images of the problem.</p>
							</div>
						</li>
					</div>
				</div>

				<div id="share" class="pane">
					<div id="banner">
						<div class="container">
							<h4>Share you campaign</h4>
						</div>
					</div>
					<div class="container">
						<li>
							<div class="box">
								<img src="assets/images/facebook-share.jpg" />
								<img src="assets/images/twitter-share.jpg" />
							</div>
							<label for="emails">List your friends' emails here</label>
							<textarea name="emails"></textarea>
							<div class="tipbox">
								<a href="#" class="tip-close">Close</a>
								<h5>Share with you friends via email</h5>
								<p>List your friends' email addresses here and we will send them an email with the details of you campaign.</p>
								<p>One email per line, we hate spam as much as you, so we don't send it.</p>
							</div>
							<button class="process-submit button">Submit</button>
						</li>
					</div>	
				</div>
			</ul>
		</form>
	</div>
		
	<div id="process-nav" class="container"></div>
	<div class="container">
		<a href="#top" class="goto-top right">Top of page</a>
	</div>
</div>