- if @error
  = t(@error, :link => link_to(t(:let_us_know), feedback_path))
- else
  != t(:you_are_a_supporter, :campaign => link_to(@campaign_supporter.campaign.title, campaign_url(@campaign_supporter.campaign))) 
