<div id="banner">
	<div class="container">
		<h1>Edit</h1>
	</div>
</div>
<div id="greybanner">
	<div class="container">
		<p><%= t('campaigns.edit.edit_campaign_description')%></p>
	</div>
</div>
<div id="main-content" class="container">
    <%= render :partial => 'form', :locals => { :campaign => @campaign } %>
</div>