<%= render :partial => 'js_campaign_data' %>
<div id="banner">
  <a id="home" href="/">FixMyTransport</a>
  <div class="container">
    <h1><%= t('campaigns.show.facebook') %></h1>
  </div>
</div>

<div id="main-content" class="container">

    <%= render :partial => 'shared/facebook' %>
</div>