<%- form_for @campaign, :url => join_campaign_url(@campaign), :html => { :method => 'POST' } do |f| %>
  <%- if @user.errors.on('email') %>
    <div class='form-field-error'>
      <%= error_message_on @user, 'email' %>
    </div>
  <%- end %>
  <div class='form-field'>
    <%= raw label_tag :email, t(:enter_your_email_to_join) %>
    <%= raw text_field_tag :email, @user.email %>
  </div>
  <%= raw submit_tag t(:join) %>
<%- end %>
