<div id="main-content" class="container">
	<div class="container">
    <%= render :partial => "shared/email" %> 
  </div>
  	<a class="button" href="<%= campaign_url(@campaign) %>"><%= t('campaigns.show.back') %></a>
</div>
