<div id="banner">
	<div class="container">
		<h1><%= t('locations.show_route_regions.route_regions') %></h1>
	</div>
</div>
<div id="greybanner">
	<div class="container">
		<p><%= t('locations.show_route_regions.routes_by_region') %></p>
	</div>
</div>
<div id="main-content" class="container">
  <ul class='region-list'>
   <%- @regions.each do |region| %>
      <li class='region'>
        <%= link_to(region.name, route_region_path(region)) %>
      </li>
    <%- end %>
  </ul>
</div>