<!DOCTYPE html>
<html>
	<head>
		<title>Campaign Page - not logged in</title>
		
		<style type="text/css">@import url("assets/css/core.css"); @import url("assets/css/fixmytransport.css");</style>
		
		<!--[if lte IE 7]><style type="text/css">@import url("assets/css/ie.css"); </style><![endif]-->
		
		<script src="assets/js/jquery-1.5.2.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="assets/js/jquery-ui-1.8.11.min.js" type="text/javascript" charset="utf-8"></script>
	</head>
	<body>
		<div id="wrapper">
			<div id="top" class="container">
				<ul id="mysociety-tab">
					<li><a id="mysociety-logo" href="#">MySociety</a></li>
					<li><a href="#">Donate</a></li>
					<li><a href="#">Our Sites</a></li>
				</ul>
				<ul id="top-nav">
					<li><a href="#">About</a></li>
					<li><a href="#">Tour</a></li>
					<li><a href="#">Feedback</a></li>
				</ul>
			</div>
			<div id="header" class="container">
				<a id="logo" href="index.html">Fix My Transport</a>
				<div id="member-info" class="rightbox">
					<p>Hi <a href="#">Guest</a>.<a class="auth" href="#">Sign in</a></p>
				</div>
				<div id="login-box" class="login-box">
					<div id="login-landing" class="pane">
						<h1>Sign in to FixMyTransport</h1>
						<h2>Sign in with a username and password, or if you prefer, you can use your Facebook or Twitter details.</h2>
						<div class="login-options">
							<div>
								<h3>Facebook Connect</h3>
								<a href="#" id="facebook"><img src="assets/images/facebook-connect.jpg" /></a>
							</div>
							<div>
								<h3>FixMyTransport Account</h3>
								<a href="#" id="create-account" class="button">Create an account</a>
								<a href="#" class="button">I have an account</a>
							</div>
							<div class="last">
								<h3>Twitter Users</h3>
								<a href="#" id="twitter"><img src="assets/images/twitter-connect.jpg" /></a>
							</div>
						</div>
					</div>
					<div id="login-create-account" class="pane">
						<h1>Create a new account</h1>
						<form class="login-form">
							<h4>You will need to verify your details via email</h4>
							<div>
								<label for="username">Username</label>
								<input name="username" type="text" />
							</div>
							<div class="password">
								<label for="password">Password</label>
								<input name="password" type="password" />
								<p class="error">Some kind of error</p>
							</div>
							<div class="password">
								<label for="password2">Confirm password</label>
								<input name="password2" type="password" />
								<p class="notice">Some kind of notice</p>
							</div>
							<div class="clear">
								<button type="submit" class="button">Create Account</button>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div id="main-nav-bar">
				<div class="container">
					<ul id="main-nav">
						<div class="left">
							<li><a href="#" class="active">Home</a></li>
							<li><a href="#">Problems</a></li>
							<li><a href="create-campaign.html">Campaign</a></li>
							<li><a href="#">Routes</a></li>
						</div>
					
						<div class="right">
							<li>
								<form id="search">
									<input name="search" type="text" />
									<button type="submit">Submit</button>
								</form>
							</li>
							<li><a class="help" href="#">Help</a></li>
						</div>
					</ul>
				</div>
			</div>
			<div id="banner">
				<div class="container">
					<div class="leftcol-banner">
						<h3>The bus stop at Knenhall is urgent need of replacing. It's been vandalised, and was partly demolished by a parked van last week. Despite a letter to the Travel West Midlands, nothing appears to be done about it.</h3>
						<div class="avatar"><img src="http://dummyimage.com/46x46" /></div>
						<p>Knenhall is a small hamlet just outside Staffordshire. Although the bus stop is only used by a handful of people, many are old and frail and shouldn't be exposed to damp conditions whilst waiting for their bus.</p>
					</div>
					<div class="rightcol">
						<a class="support-big" href="#">Support</a>
					</div>
				</div>
			</div>
			<div id="main-content" class="container">
				<div class="leftcol">
					<div class="bus"></div>
					<div class="campaign-head">
						<h3>Replace the bus stop at Knenhall</h3>
						<p class="campaign-status">Current Campaign</p>
						<a href="#">In Rough Close near Knenhall on Longton Rd</a>
					</div>
					<div class="box">
						<div class="campaign-meta"><p>11 March 2011</p><span>added</span></div>
						<div class="campaign-meta"><a href="#">Tom Steinberg</a><span>by</span></div>
						<div class="campaign-meta"><a href="#" class="supporters">15</a><span>supporters</span></div>
					</div>
					<div class="campaign-summary">
						<p>The 250 bus is a useful service that travels down the Longton road from Longton to Stone. Officially there is a bus stop just north of Knenhall, which is useful for people like me who live in this village. But in reality there is actually no stop - nor any trace of any stop.</p>
						<a class="read-more" href="#">read more</a>
					</div>
				
					<div class="box">
						<h5>Images and Media</h5>
						<ul class="gallery grey">
							<li><a href="#"><img src="http://dummyimage.com/104x104" /></a></li>
							<li><a href="#"><img src="http://dummyimage.com/104x104" /></a></li>
							<li><a href="#"><img src="http://dummyimage.com/104x104" /></a></li>
						</ul>
					</div>
				
					<div class="box">
						<a class="comment-button right" href="#">Comment</a>
					</div>
				
					<div class="clear">
						<h5 class="left">Campaign Thread</h5>
						<div class="thread-controls">
							<a href="#" class="expand-all">Expand All</a>
							<a href="#" class="collapse-all">Collapse All</a>
							<a href="#" class="sort">Sort</a>
						</div>
					</div>
					<ul id="campaign-thread">
						<li>
							<a href="#" class="thread-item"><span class="num">1</span><span class="title">Tom Steinberg created the campaign</span><span class="close">close</span><span class="date">5 months ago</span></a>
							<div class="thread-details">
								<div class="box">
									<div class="thumb"><img src="http://dummyimage.com/70x70" /></div>
									<p>A report for this has been made and forwarded to the Community Liaison Team for attention. The reference number for this report is 1076695 should you wish to check the progress of this issue.</p>
								</div>
								<a class="comment-button right" href="#">Comment</a>
							</div>
						</li>
						<li>
							<a href="#" class="thread-item"><span class="num">2</span><span class="title">Travel West Midlands responded</span><span class="close">close</span><span class="date">4 months ago</span></a>
							<div class="thread-details">
								<div class="box">
									<div class="thumb"><img src="http://dummyimage.com/70x70" /></div>
									<p>A report for this has been made and forwarded to the Community Liaison Team for attention. The reference number for this report is 1076695 should you wish to check the progress of this issue.</p>
								</div>
								<a class="comment-button right" href="#">Comment</a>
							</div>
						</li>
						<li>
							<a href="#" class="thread-item"><span class="num">3</span><span class="title">Rory Grenfell commented</span><span class="close">close</span><span class="date">3 weeks ago</span></a>
							<div class="thread-details">
								<div class="box">
									<div class="thumb"><img src="http://dummyimage.com/70x70" /></div>
									<p>A report for this has been made and forwarded to the Community Liaison Team for attention. The reference number for this report is 1076695 should you wish to check the progress of this issue.</p>
								</div>
								<a class="comment-button right" href="#">Comment</a>
							</div>
						</li>
						<li class="open">
							<a href="#" class="thread-item"><span class="num">4</span><span class="title">Travel West Midlands responded</span><span class="close">close</span><span class="date">Yesterday</span></a>
							<div class="thread-details">
								<div class="box">
									<div class="thumb"><img src="http://dummyimage.com/70x70" /></div>
									<p>A report for this has been made and forwarded to the Community Liaison Team for attention. The reference number for this report is 1076695 should you wish to check the progress of this issue.</p>
								</div>
								<a class="comment-button right" href="#">Comment</a>
							</div>
						</li>
						<li>
							<a href="#" class="thread-item"><span class="num">5</span><span class="title">Tom Steinberg commented</span><span class="close">close</span><span class="date">Yesterday</span></a>
							<div class="thread-details">
								<div class="box">
									<div class="thumb"><img src="http://dummyimage.com/70x70" /></div>
									<p>A report for this has been made and forwarded to the Community Liaison Team for attention. The reference number for this report is 1076695 should you wish to check the progress of this issue.</p>
								</div>
								<a class="comment-button right" href="#">Comment</a>
							</div>
						</li>
						<li>
							<a href="#" class="thread-item"><span class="num">6</span><span class="title">Tom Steinberg commented</span><span class="close">close</span><span class="date">Today</span></a>
							<div class="thread-details">
								<div class="box">
									<div class="thumb"><img src="http://dummyimage.com/70x70" /></div>
									<p>A report for this has been made and forwarded to the Community Liaison Team for attention. The reference number for this report is 1076695 should you wish to check the progress of this issue.</p>
								</div>
								<a class="comment-button right" href="#">Comment</a>
							</div>
						</li>
					</ul>
					<a class="right support" href="#">Support</a>
				</div>
			
				<div class="rightcol">
					<div id="map" class="box">
						<img src="assets/images/map.jpg" />
						<a class="grey-button right" href="#">Larger Map</a>
					</div>
				
					<div class="box">
						<h5>Campaign Manager</h5>
						<div class="grey">
							<div class="avatar"><img src="http://dummyimage.com/70x70" /></div>
							<div class="user-info">
								<a class="name" href="#">Tom Steinberg</a>
								<p class="location">Staffordshire, UK</p>
								<p>Managing <a href="#">3 Campaigns</a></p>
								<p>Supporting <a href="#">5 Campaigns</a></p>
							</div>
						</div>
					</div>
				
					<div class="box">
						<div>
							<h5 class="left">Campaign Supporters</h5>
							<a class="view-all right" href="#">View All</a>
						</div>
						<ul class="user-list grey">
							<li>
								<div class="avatar"><img src="http://dummyimage.com/40x40" /></div>
								<div class="user-info">
									<a class="name" href="#">Angie W</a>
									<p class="location">Staffordshire, UK</p>
								</div>
							</li>
							<li>
								<div class="avatar"><img src="http://dummyimage.com/40x40" /></div>
								<div class="user-info">
									<a class="name" href="#">Rory Grenfell</a>
									<p class="location">Hereford, UK</p>
								</div>
							</li>
							<li>
								<div class="avatar"><img src="http://dummyimage.com/40x40" /></div>
								<div class="user-info">
									<a class="name" href="#">Nelson May</a>
									<p class="location">Stoke, UK</p>
								</div>
							</li>
							<li>
								<div class="avatar"><img src="http://dummyimage.com/40x40" /></div>
								<div class="user-info">
									<a class="name" href="#">Majeed S</a>
									<p class="location">Staffordshire, UK</p>
								</div>
							</li>
						</ul>
					</div>
				
					<div class="box">
						<h5>Tell a friend about this</h5>
					</div>
				</div>
				<div class="container">
					<a href="#top" class="goto-top right">Top of page</a>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="container">
				<p>Built by <a href="#">mySociety</a>, which is supported by the <a href="#">Indigo Trust</a>, the <a href="#">Esm&eacute;e Fairbairn Foundation</a>, and many <a href="#">small donors</a>.</p>
			</div>
		</div>
		<script src="assets/js/fixmytransport.js" type="text/javascript" charset="utf-8"></script>
	</body>
</html>