<div id="main-content" class="container">
  <div id="login-landing-wrap">
  	<h3><%= t('accounts.new.create_an_account') %></h3>
      <%= render :partial => 'shared/create_account' %>  
  </div>
</div>