<h2 class='main-header'><%= t(:your_account) %></h2>
<div class='account-info'>
  <%= t(:your_email_address) %>
  <%= current_user.email %>
  <div class='account-edit-link'>
    <%= raw link_to(t(:edit_your_account), edit_account_path) %>
  </div>
</div>
